{% load xendor_tags basket_tags %}


<div class="basket" style="position: relative;">
    <div class="basket-widget {% if not price %}empty{% endif %}">
        <span class="glyphicon glyphicon-shopping-cart"></span>
        {% if price %}
            Сумма заказа: <span class="basket-total-price">{{ price|x1000 }}</span> р.
            (<a href="#">показать корзину</a>)
        {% else %}
            Корзина пуста
        {% endif %}
    </div>
    {% if price %}
        <div class="basket-body">
            <div class="container">
                <div class="row" >
                    <div class="col-md-8 col-lg-8">
                        <div class="row product-list">
                            <div class="col-xs-2 col-sm-1  col-md-1 col-lg-1 ">
                                <!-- Controls -->
                                <a class="jcarousel-control jcarousel-prev" href="#">
                                    <span class="glyphicon glyphicon-circle-arrow-left"></span>
                                </a>
                            </div>
                            <div class="col-xs-8 col-sm-10  col-md-10 col-lg-10 ">
                                <div class="jcarousel">
                                    <ul class="list-unstyled ">
                                        {% for item in items %}
                                            <li>
                                                <a href="{{ item.0.get_absolute_url }}"><img src="{{ item.0.image|xthumbnail:'150;140;blank' }}" alt=""/></a>
                                                <div class="price"><span class="count-item">{{ item.1 }}</span> x {{ item.0.get_price|x1000 }} р.</div>
                                                <a href="{% basket_url_link 'basket-remove-one-json' item.0 %}" class="remove basket-control"><span class="glyphicon glyphicon-minus"></span></a>
                                                <a href="{% basket_url_link 'basket-add-json' item.0 %}" class="remove add-one basket-control"><span class="glyphicon glyphicon-plus"></span></a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
                                <a class="jcarousel-control jcarousel-next" href="#">
                                    <span class="glyphicon glyphicon-circle-arrow-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-4" >
                        <div class="gap-10 visible-xs-inline-block visible-sm-inline-block"></div>
                        <div class="order-container" style="height: 175px;">
                            <h2><span class="visible-xs-inline-block visible-sm-inline-block visible-lg-inline-block">Общая сумма:</span> <span class="visible-md-inline-block">Сумма:</span> <em><span class="basket-total-price">{{ price|x1000 }}</span> р.</em></h2>
                            <a href="{% url 'basket-order' %}" class="btn add-to-cart go-to-order">Оформить покупку</a>
{#                            <div class="gap-20 visible-lg-block visible-md-block"></div>#}
{#                            <a href="" class="add-to-credit"><img src="/static/img/kredit.jpg" alt=""/></a>#}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>