{% extends 'base.html' %}
{% load xendor_tags %}

{% block content %}

    {{ page.content|safe }}

            {% for news in object_list %}
                <div class="article">
                    <h2>{{ news }}</h2>
                    <em><span class="glyphicon glyphicon-time"></span> {{ news.created }}</em>
                    <br class="clear"/>
                    {{ news.text|safe }}
                </div>
                <div class="gap-10"></div>
            {% endfor %}


    {{ paginator.render }}

{% endblock %}