{% extends 'base.html' %}
{% load xendor_tags %}

{% block content %}
	<h1>{{ object|safe }}</h1>
    <hr>
        {% breadcrumbs %}
    <div class="row">
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <div class="gap-20"></div>
            {{ news.text|safe }}

            {% if news.photo_set.all %}
                <hr/>
                <div class="row">
                    {% for img in news.photo_set.all %}
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <a href="{{ img.image|xthumbnail:'1200;1200' }}" class="fancybox" rel="1">
                                <img src="{{ img.image|xthumbnail:'350;350;fix' }}" alt=""/>
                            </a>
                            <div class="gap-20"></div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="gap-20"></div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            {% fragment 'Правый блок' %}
        </div>
    </div>

{% endblock %}