/*main menu*/
header .menu {
    padding-top: 15px;
}

header .nav {
    /*float: right;*/
}
    header .nav li {
        /*float: left;*/
        display: none;
    }
    header .nav li.show {
        display: block;
    }
        header .nav li a {
            background: #ed8b3e;
            color: #ffffff;
            /*text-shadow: 1px 1px 1px #bb5424;*/
            text-transform: uppercase;
            font-weight: 500;
        }
        header .nav li:first-child a {
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
        }
        header .nav li:last-child a {
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
        }
        header .nav li a:hover, header .nav li.active a {
            background: #000000;
            color: #ffffff;
        }

.logo-sm {
    display: none;
    float: left;
}

.nav>li.xs-logo-header {
    display: none;
    position: relative;
}

.nav>li.xs-logo-header a{
    background: transparent;
    color: #333;
    font-size: 20px;
    font-weight: normal;
    padding-left: 0;
}
.nav>li.xs-logo-header a:hover{
    background: transparent;
    color: #333;
}

.nav>li.xs-logo-header .top-menu-selector {
    position: absolute;
    right: 0;
    top: 0;
    background: #333;
    color: #ffffff;
    font-size: 14px;
    padding-left: 15px;
}
.nav>li.xs-logo-header .top-menu-selector:hover {
    background: #000000;
    color: #ffffff;
}

    @media (min-width: 768px){
        header .nav {

            background: #ed8b3e;
        }
            header .nav li {
                float: left;
                display: block;
            }
    }
    @media (min-width: 992px){
        header .nav {
            float: right;
        }
            header .nav li {
                float: left;
            }
    }
    @media (min-width: 1200px){

    }

.logo {
    margin-top: 15px;
}
    .logo img {
        height: 100px;
    }
    .logo .logo-lead {
        font-size: 12px;
        margin-top: 5px;
    }

.legend {
    font-size: 26px;
    font-style: italic;
    font-weight: 300;
    line-height: 30px;
}
    .legend .small{
        font-size: 16px;
    }
    .legend .callback {

    }
        .legend a {
            font-size: 16px;
            line-height: 20px;
            font-style: normal;
            border-bottom: 1px dashed #414141;
        }
        .legend a:hover {
            border-bottom: 1px dashed #c67234;
            text-decoration: none;
        }

.filtr-panel {
    border-radius: 0px;
    background: #f6f6f6;
    padding: 10px 15px;
    color: #999999;
    position: relative;
}
    .filtr-panel .count-on-page {
        text-transform: uppercase;
    }

    .filtr-panel .count-on-page a {
        display: inline-block;
        background: #353535;
        padding: 2px 5px;
        color: #ffffff;
        font-style: normal;
    }

    .filtr-panel .count-on-page a.active {
        background: #ed7c25;
    }

    .filtr-panel hr {
        margin: 10px 0;
    }

    .filtr-panel a {
        font-style: italic;
    }

    .filtr-panel select {
        border-radius: 0px;
        margin-right: 10px;
        color: #696969;
        font-style: italic;
        width: 150px;
        background: none;
        border: 0;
        border-bottom: 1px solid #696969;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        cursor: pointer;
        margin-bottom: 5px;
    }

    .filtr-panel select:hover {

        border-bottom: 1px solid #ed7c25;

    }

    .filtr-panel select:focus {
        outline-offset: 0px;
        outline: none;

    }
    .filtr-panel .remove-filter {
        font-size: 12px;
        color: #fff;
        background: #ed7c25;
        padding: 2px 5px;
        position: absolute;
        right: 0;
        top: 0;
        text-transform: uppercase;
        font-style: normal;
    }

.breadcrumb-container {
    border-bottom: 1px solid #c5c5c5;
    background: #ddd;
}

.breadcrumb {
    background: none;
    padding: 0;
    /*float: right;*/
    margin-top: 0px;
    margin-bottom: 0;
}
    .breadcrumb a:hover{
        text-decoration: none;
    }

.breadcrumb>li+li:before {
     content: none;
     padding: 0;
     color: #ccc;
}

.content img {
    border: 1px solid #f2be5b;
    border: 1px solid transparent;
    padding: 3px;
    /*width: 100%;*/
    /*height: 100%;*/
    border-radius: 2px;
}
    .content img:hover {
        /*border: 1px solid #ed8b3e;*/
    }
.content img.hovered:hover {
    border: 1px solid #ed8b3e;
}

.special {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 2px;
    margin-top: -1px;
}
    .special img {
        width: 185px;
        height: auto;
    }

    .special .item {
        height: 340px;
    }

    @media (min-width: 768px){
        .special .item {
            height: 410px;
        }
        .special img {
            width: 100%;
            height: auto;
        }
    }
    @media (min-width: 992px){
        .special .item {
            height: auto;
        }

        .special img {
            width: 100%;
            height: auto;
        }
    }
    @media (min-width: 1200px){
        .special .item {
            height: auto;
        }
        .special img {
            width: 100%;
            height: auto;
        }
    }

    .special .price {
        font-size: 24px;
        margin-top: 0px;
        position: relative;
        color: #555;
    }
        .price del{
            font-size: 16px;
        }

.special-catalog {

}
    .special-catalog img {
        width: 185px;
        /*height: 260px;*/
    }

    .special-catalog .price {
        font-size: 24px;
        margin-top: 0px;
        position: relative;
        color: #555;
    }
        .price del{
            font-size: 16px;
        }

    .special-catalog .item {
        height: 345px;
    }

    @media (min-width: 768px){
        .special-catalog img {
            width: 100%;
        }
    }
    @media (min-width: 992px){

        .special-catalog img {
            width: 100%;
        }
        .special-catalog .item {
            height: auto;
        }
    }
    @media (min-width: 992px){

        .special-catalog img {
            width: 100%;
        }
        .special-catalog .item {
            height: auto;
        }
    }

.banner {
    position: relative;
    /*text-align: center;*/
}

.banner img {
    width: 100%;
    border: none;
    padding: 0;
    border-radius: 0px;
}
.banner img:hover {
    border: none;
}

.all-news {
    font-style: italic;
}

.new-item {
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 15px;
    position: relative;
}
.new-item:hover {
    border: 1px solid #ed8b3e;
}
    .new-item ul{
        list-style-position: inside;
    }
    .new-item .price{
        position: absolute;
        border-top-right-radius: 2px;
        border-bottom-left-radius: 2px;
        top: -1px;
        right: -1px;
        background: #353535;
        color: #fff;
        padding: 5px 15px;
        font-size: 20px;
        font-weight: 200;
    }
    .new-item .price .old-price{
        position: absolute;

        top: -1px;
        right: 100%;
        color: #333;
        padding: 5px 5px;
        padding-top: 10px;
        font-size: 16px;
        font-weight: 400;
        text-decoration: line-through;
        min-width: 80px;
    }
    .new-item p{
        font-size: 12px;
    }
    .new-item h3 {
        text-transform: uppercase;
        padding-right: 120px;
    }
    .new-item img {
        /*border: none;*/
        /*border: 1px solid red;*/
        width: 100%;
    }
    .new-item img:hover {
        /*border: none;*/
    }

    @media (min-width: 768px){

    }
    @media (min-width: 992px){

    }
    @media (min-width: 1200px){

    }

.catalog-nav {
    list-style-type: square;
    /*list-style-position: inside;*/
    margin-left: 20px;
    display: none;
}
.catalog-nav.show {
    display: block;
}
    .catalog-nav > li{
        color: #8e8e8e;
        line-height: 24px;
        font-size: 21px;
    }
    .catalog-nav > li.active{
        color: #000000;
    }
    .catalog-nav > li > a{
        padding: 3px 0px;
        font-size: 14px;
        line-height: 16px;
        display: inline-block;
        /*border: 1px solid red;*/
    }
    .catalog-nav > li > a:hover{
        background-color: transparent;
    }
    .catalog-nav > li.active > a{
        color: #c67234;
        text-decoration: underline;
    }
        .catalog-nav > li > ul {
            list-style-type: none;
            border-left: 5px solid #8e8e8e;
            padding-left: 25px;
            margin-left: -19px;
        }
        .catalog-nav > li > ul > li {
            line-height: 18px;
            /*margin: 5px 0;*/
        }
        .catalog-nav > li > ul > li > a {
            padding: 5px 0px;
            font-size: 14px;
            line-height: 16px;
            display: inline-block;
        }
        .catalog-nav > li > ul > li.active > a {
            color: #c67234;
            text-decoration: underline;
        }

.xs-catalog-header {
    list-style-position: inside;
    background: #333;
    padding-left: 15px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    padding: 5px 15px;
}

.xs-catalog-header:hover{
    background: #000;
    text-decoration: none;
    color: white;
}

    @media (min-width: 768px){
        .catalog-nav {
            display: block;
        }
    }
    @media (min-width: 992px){

    }
    @media (min-width: 1200px){

    }
/* Promo */
.promo {
    background: #e7994d;
    padding: 20px 0px;
    background-image: -webkit-linear-gradient(245deg, #e7862e 0%, #ffab53 54%, #df8041 93%);
    background: url('../img/promo-bg3.jpg') center -100px;
}
.promo.closed {
    display: none;
}
    .promo h1{
        font-family: 'Bebas Neue';
        font-weight: 200;
        font-size: 36px;
        margin-top: 15px;
        margin-bottom: 5px;
        color: #515151;
        font-weight: 300;
        background: none;
        text-align: center;
    }

.promo-container {
    position: relative;
}
    .promo-container .promo-control {
        border-bottom: 2px solid #ed7c25;
        position: absolute;
        width: 100%;
        bottom: 0;
    }
    .promo-container .promo-control .promo-control-widget{
        background: #ed7c25;
        position: absolute;
        top: 0;
        right: 10%;
        font-size: 18px;
        padding: 5px 10px;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        color: #ffffff;
        cursor: pointer;
        z-index: 1000;
    }


#slideshow-controls {
    /*display: none;*/
}
    #slideshow-controls > * {
        position: absolute;
        color: #ffffff;
        font-size: 70px;
        border-radius: 50%;
        cursor: pointer;
        top: 130px;
    }
    #slideshow-controls > *:hover {

        color: #353535;

    }

/*prev*/
#slideshow-controls .prev {
    left: 80px;
}


/*next*/
#slideshow-controls .next {
    right: 80px;

}

.cycle-slideshow {
    border: 1px solid #ddd;
    margin: 0 100px;
    border-radius: 2px;
    background: #fff;
    /*display: none;*/
    /*box-shadow: -5px -5px 10px 5px rgba(119, 119, 119, 0.20) inset,*/
                /*5px 5px 10px 5px rgba(228, 228, 228, 0.70) inset;*/
}
    .cycle-slideshow img {
        height: 270px;
        width: 100%;
    }


/*basket*/
.basket {
    background: #ed7c25;
    border-top: 3px solid #ed7c25;

    width: 100%;
    position: fixed;
    bottom: 0px;
    z-index: 100;
}
    .basket.affix-bottom {
        position: inherit;
    }
    .basket .basket-body {
    	/*background: #ed7c25;*/
        display: none;
        padding: 15px;
        z-index: 100;
        position: relative;
        /*min-height: 120px;*/
        /*background-color: #ed7c25;*/
        /*background-image: url(http://www.transparenttextures.com/patterns/checkered-light-emboss.png);*/
        /*background-color: #ed7c25;*/
        /*background-image: url(http://www.transparenttextures.com/patterns/cubes.png);*/
        /*background-color: #ed7c25;*/
/*background-image: url(http://www.transparenttextures.com/patterns/diagonales-decalees.png);*/
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
        /*background-color: #ed7c25;*/
/*background-image: url(http://www.transparenttextures.com/patterns/fabric-of-squares.png);*/
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
        /*background-color: #ed7c25;*/
/*background-image: url(http://www.transparenttextures.com/patterns/cross-scratches.png);*/
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
        background-color: #ed7c25;
background-image: url(http://www.transparenttextures.com/patterns/pinstripe-light.png);
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
        background-color: #ed7c25;
background-image: url(http://www.transparenttextures.com/patterns/pinstripe-dark.png);
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
        background-color: #ed7c25;
background-image: url(http://www.transparenttextures.com/patterns/subtle-carbon.png);
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    }
    .basket .basket-widget{
        background: #ed7c25;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        height: 30px;
        position: absolute;
        top: -30px;
        padding: 5px 20px;
        right: 10%;
        text-transform: uppercase;
        color: #ffffff;
        border: 2px solid #ed7c25;
        border-bottom: none;
        cursor: pointer;
    }
    .basket .basket-widget a{
        color: #fff;
        text-transform: none;
        text-decoration: underline;
    }
    .basket .order-container{
        border-left: 4px solid #ffffff;
        /*height: 177px;*/
        padding-left: 30px;
        color: #fff;
        text-align: center;
    }
    .basket .add-to-cart {
        background: #353535;
        border-radius: 0px;
        color: #ffffff;
        text-transform: uppercase;
        font-family: 'Clear Sans';
        padding: 12px 30px;
        margin-right: 30px;
    }
    .basket h2 {
        color: #ffffff;
        border-color: #ffffff;
        margin-top: 0;
    }
    .basket .add-to-credit {
        margin-right: 30px;
        margin-top: 10px;
        display: inline-block;

    }
    .basket .add-to-credit img {
        width: auto;
        height: 46px;
        border: 1px solid gray;
    }

.basket .product-list {

}

    .basket .product-list img {
        width: 150px;
        height: 140px;
    }

    .basket .product-list ul  {
        margin: 0;
    }

    .basket .product-list ul li  {
        float: left;
        margin-right: 5px;
        position: relative;
        background: white;
    }
    .basket .product-list ul li  a.remove{
        font-size: 20px;
        color: #fff;
        position: absolute;
        top: 5px;
        right: 5px;
        background: #ed7c25;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        padding-top: 3px;
        padding-left: 4px;
    }

    .basket .product-list ul li  a.add-one{
        font-size: 20px;
        position: absolute;
        top: 5px;
        right: none;
        left: 5px;
        padding-top: 3px;
        padding-left: 6px;
    }

    .basket .product-list ul li  a.remove:hover{
        background: #bb5424;
    }

    .basket .product-list .price {
        text-align: center;
        background: #353535;
        color: #fff;
        padding: 5px 15px;
        font-size: 20px;
        font-weight: 200;
    }

/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.jcarousel {
    position: relative;
    overflow: hidden;
    /*width: 100%;*/
}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel ul {
    width: 20000em;
    position: relative;

    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin: 0;
    padding: 0;
    margin: 0;
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel li {
    /* Required only for block elements like <li>'s */
    float: left;
}


.jcarousel-control {
    position: absolute;
    z-index: 100000;
    color: #ffffff;
    width: 50px;
    height: 50px;
    font-size: 50px;
    top: 60px;
}

    .jcarousel-prev {

    }

    .jcarousel-next {
        right: 20px;
    }

/*виджет категорий на главной*/
.catalog-main {
    border: 1px solid #ddd;
}
.catalog-main:hover {
    border: 1px solid #ed8b3e;
}

    .catalog-main ul {
        padding: 5px;
        padding-right: 0;
        margin-bottom: 0;
    }
        .catalog-main ul li a{
            font-size: 12px;
            display: inline-block;
            padding: 5px 0;
            line-height: 1.2;
        }

    .catalog-main img {
        border: none;
        -webkit-filter: grayscale(100%);
        padding: 0;
        border-radius: 0;
        width: 100%;
    }
    .catalog-main:hover img {
        border: none;
        -webkit-filter: grayscale(0%);
    }
        .catalog-main img:hover {
            border: none;
        }

    @media (min-width: 768px){
        .catalog-main img {
            width: 100%;
        }
    }
    @media (min-width: 992px){
        .catalog-main img {
            width: 100%;
        }
    }
    @media (min-width: 1200px){
        .catalog-main img {
            width: auto;
        }
    }
/*форма поиска*/
.search-form {
    position: relative;
}
    .search-form input[type=text]{
        border: 1px solid transparent;
        border-bottom: 1px solid #ddd;
        width: 100%;
        padding: 3px;
        border-radius: 2px;
    }
    .search-form input[type=text]:hover{
        border-bottom: 1px solid #ed8b3e;
    }
    .search-form input[type=text]:focus{
        border: 1px solid #ed8b3e;
        outline-offset: 0px;
        outline: none;
    }
    .search-form input[type=text].active{
        border: 1px solid #ed8b3e;
        outline-offset: 0px;
        outline: none;
    }
    .search-form button{
        border: none;
        background: none;
        position: absolute;
        top: 6px;
        right: 6px;
    }


/*статьи*/
.article {

}

    .article img {
        width: auto;
        float: left;
        margin-right: 15px;
        border: none;
        padding: 0;
    }

    .article em {
        margin-top: -10px;
        display: block;
        margin-bottom: 10px;
        float: right;
        color: #bb5424;
    }

    .article img:hover {
        width: auto;
        float: left;
        border: none;
        padding: 0;
    }


.catalog-category {

}
.catalog-category img:hover{
    border-color: transparent;
}

    .catalog-category .col-lg-6 > div, .catalog-category .col-lg-4 > div {
        position: relative;
        border: 1px solid transparent;
    }

    .catalog-category .col-lg-6 h3, .catalog-category .col-lg-4 h3 {

    }

    .catalog-category .col-lg-6 h3 a, .catalog-category .col-lg-4 h3 a {
        color: #ffffff;
        background: #353535;
        padding: 5px 10px;
        display: block;
        border-radius: 1px;
        font-size: 12px;
    }

    .catalog-category .col-lg-6:hover h3 a, .catalog-category .col-lg-4:hover h3 a {
        color: #ffffff;
        background: #ed7c25;
        padding: 5px 10px;
        display: block;
        border-radius: 0px;
    }
    .catalog-category .col-lg-6 h3 a:hover, .catalog-category .col-lg-4 h3 a:hover {
        text-decoration: none;
    }

    @media (min-width: 768px){
        .catalog-category .col-lg-6 h3 a, .catalog-category .col-lg-4 h3 a {
            font-size: 14px;
        }
    }
    @media (min-width: 992px){
        .catalog-category .col-lg-6 h3 a, .catalog-category .col-lg-4 h3 a {
            font-size: 16px;
        }
    }
    @media (min-width: 1200px){

    }

.in-stock {
    /*margin-bottom: 10px;*/
    color: #f2be5b;
    color: #bb5424;
}

.add-to-cart {
    background: #ed7c25;
    border-radius: 0px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Clear Sans';
    padding: 6px 20px;
}

    .add-to-cart:hover {
        color: #ffffff;
        background:  #bb5424;
    }

.add-to-remind {
    background: #353535;
    border-radius: 0px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Clear Sans';
    padding: 6px 20px;
}

    .add-to-remind:hover {
        color: #ffffff;
        background:  #bb5424;
    }

.add-to-comparison {
    font-family: 'Clear Sans';
    border-bottom: 1px dashed #696969;
    padding: 6px 0px;
    padding-bottom: 0px;
    margin-bottom: 6px;
    margin-right: 20px;
}
    .add-to-comparison:hover {
        text-decoration: none;
        border-bottom: 1px dashed #ed7c25;
    }

.go-to-comparison {
    font-family: 'Clear Sans';
    padding: 6px 0px;
    padding-bottom: 0px;
    margin-bottom: 6px;
    margin-right: 20px;
}

.another-article {
    border: 1px solid #ddd;
    padding: 5px 10px;
    display: block;
    border-radius: 1px;
}

.brand-filter {
    border: 1px solid #ddd;
    border: 2px solid #f6f6f6;
    border-top: none;
    padding: 15px;
    display: block;
    border-radius: 1px;
}
    .brand-filter li {
        float: left;
        margin-right: 10px;
    }

    .brand-filter li a {
        border: 1px solid transparent;
        display: inline-block;
        padding: 0px;
    }
    .brand-filter li a:hover {
        border: 1px solid #ed8b3e;
        display: inline-block;
    }
    .brand-filter li.active a {
        border: 1px solid #ed8b3e;
    }
    .brand-filter img {
        width: auto;
        height: 40px;
    }
    .brand-filter img:hover {
        border-color: transparent;
    }
    .brand-filter p {
        font-size: 12px;
    }
    .brand-filter hr {
        margin: 15px 0;
    }


.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 0px;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #696969;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}

.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
    color: #c67234;
    background-color: #eee;
    border-color: #ddd;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    z-index: 2;
    color: #fff;
    background-color: #353535;
    border-color: #353535;
    cursor: default;
}

.item-price {
    font-size: 36px;
    font-weight: 300;
    color: #555;
    margin-bottom: 20px;
}
    .item-price span {
        font-size: 24px;
    }

    .item-price del {
        font-size: 24px;
        font-style: italic;
    }


.item-brand {
    margin-top: 20px;
}

    .item-brand img {
        width: auto;
    }


.item-gallery {
    /*border-top: 1px solid #ddd;*/
    margin-top: 10px;
    padding-top: 10px;
}

    .item-gallery li {
        float: left;
        margin-right: 2px;
    }
    .item-gallery li.active img {
        border: 1px solid #ed8b3e;
    }

    .item-gallery li img {
        width: 100px;
    }


.response {

}

    .response p{
        padding: 20px;
        background: #f6f6f6;
    }

    .response em {
        color: #bb5424;
    }


.comparison {
}

.comparison img {
    height: auto;
    padding: 0;
    border: none;
}
.comparison p {
    font-size: 12px;
}
.comparison img:hover {
    border: none;
}

.table.comparison>tbody>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ed7c25;
    padding-top: 30px;
    padding-bottom: 10px;
}

.table.comparison thead>tr>th {
    vertical-align: bottom;
    border-bottom: none;
}

.table>tfoot>tr>th {
    background: #f5f5f5;
}


.comparison .title {
    background: #f6f6f6;
    background: #ed7c25;
    border-top: none;
    text-align: center;
    position: absolute;
    font-size: 12px;
    padding: 2px 10px !important;
    color: #ffffff;

}


.footer-menu {

}


    .footer-menu li {
        float: left;
        margin-right: 20px;
        margin-bottom: 10px;
    }

    .footer-menu li a {
        text-decoration: underline;
        color: #ffffff;
        font-weight: 400;
    }

footer .phone {
    font-size: 16px;
    font-weight: 300;
}

footer .copy {
    margin-top: 5px;
}


footer .phone span{
    font-size: 12px;
}

footer .address {
    font-size: 16px;
    font-weight: 300;
}


footer .address span{
    font-size: 12px;
}


footer .social {

}


footer .social img {
    height: 32px;
}

.spinner {
    width: 80px;
}

.order-price {
    width: 120px;
    font-size: 20px;
}

.order-photo {

}
.order-photo img {
    width: 120px;
    height: auto;
}
.order-photo img:hover {
    border-color: transparent;
}

.order-del {
    font-size: 24px;
    text-align: center;
}

.order-total {
    font-size: 24px;
    font-style: italic;
    font-weight: normal;
}

form .errorlist {
    color: red;
    list-style-type: none;
    position: absolute;
    right: 20px;
}

.full-form {
    display: none;
}

.delivery-calculation {
    width: 80%;
}

.delivery-cost {
    position: absolute;
    color: #c67234;
    font-weight: bold;
    font-style: italic;
    bottom: 0;
    right: 0;
    font-size: 24px;
}

.payment-calculation {
    width: 80%;
}

.payment-cost {
    position: absolute;
    color: #c67234;
    font-weight: bold;
    font-style: italic;
    bottom: 0;
    right: 0;
    font-size: 24px;
}

.double-column .new-item .add-to-cart, .double-column .new-item .add-to-remind {
    width: 100%;
}
.double-column .new-item .add-to-comparison {
    width: 100%;
    margin-right: 0;
    text-align: center;
    display: inline-block;
}

.double-column  .new-item .price .old-price {
    padding-top: 0;
    text-align: right;
}

.big-image {
    width: 100%;
}

.delivery-panel {
    background: #f5f5f5;
    padding: 15px;
}
.delivery-panel span {
    color: #c67234;
    font-size: 24px;
    font-weight: bold;
}

.messages {
    border-left: 5px solid #ed7c25;
}


/*кнопка вверх*/
.to-top{
	position: fixed;
    padding: 10px;
    padding-left: 6px;
	bottom: 50px;
	left: 50%;
    margin-left: -640px;
	width: 52px;
	height: 52px;
	border: 1px solid #d3d5d6;
    color: #fff;
	z-index: 1001;
	display: none;
    background: #d3d5d6;
    font-size: 50px;
    line-height: 28px;
    font-weight: normal;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
    .to-top:hover{
        border: 1px solid #ed7c25;
        background: #ed7c25;
        color: #ffffff;
    }
    .to-top span {
        font-size: 36px;
    }

@media (min-width: 768px){
    .to-top {
        margin-left: -350px;
    }
}

@media (min-width: 992px){
    .to-top {
        margin-left: -450px;
    }
}

@media (min-width: 1200px) {
    .to-top {
        margin-left: -640px;
    }
}

.credit {
    border: 1px solid transparent ;
    width: 100%;
    display: inline-block;
    text-align: center;
}
.credit:hover {
    border: 1px solid #ed7c25 ;
}