/*uncomment this to fix footer to bottom */
* {
    margin: 0;
    padding: 0;
}
html {height: 100%;}

body {
    min-height: 100%;
    position: relative;
}

header {
    background: #f7f1e8 url('../img/bg.png');
    border-bottom: 1px solid #c2c2c2;
    padding-bottom: 10px;
    /*box-shadow: 0px 1px 5px 1px #c5c5c5;*/
}

body > .container {
    position: relative;
}
body > .padding {
    position: relative;
    padding-bottom: 180px;
}


footer {
    height: 140px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #3b3b3b url('../img/footer-bg-big.jpg');
    color: #e1e1e1;
    font-weight: 300;
}
footer > .container{
    margin-top: 10px;
}