/*like a typography*/
body {
    color: #333;
    font-family: 'Fira Sans';

}

h1, h2, h3, h4, h5 {
    font-weight: normal;
}

h1 {
    font-family: 'Bebas Neue';
    font-weight: 300;
    font-size: 26px;
    letter-spacing: 0.1em;
    line-height: 1.0;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px 0;
}
    h1 .big{
        font-weight: 200;
        font-size: 140px;
        letter-spacing: 0.08em;
        line-height: 0.9;
    }

h2 {
    font-family: 'Clear Sans';
    font-weight: 300;
    border-bottom: 1px solid #c5c5c5;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
    margin-bottom: 20px;
    color: #5d5d5d;
    color: #333;
    font-size: 24px;
}

h3 {
    font-family: 'Clear Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    margin-top: 0px;
    text-transform: uppercase;
}

h4 {
    font-family: 'Clear Sans';
    margin-bottom: 20px;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
}

.gap-5 {
    height: 5px;
}

.gap-10 {
    height: 15px;
}

.gap-20 {
    height: 25px;
}

.gap-30 {
    height: 35px;
}

.gap-40 {
    height: 45px;
}

p {
    font-size: 14px;
    line-height: 1.5;
}

a {
    color: #5d5d5d;
    color: #696969;
}

a:hover {
    color: #c67234;
    /*text-decoration: none;*/
}

br.clear {
    clear: both;
}

br.clearfix {
    clear: both;
}

textarea {

}

hr {
    border-top: 1px solid #c2c2c2;
    margin-top: 10px;
    margin-bottom: 10px;
}

blockquote{

}

.typography-content ul {
    list-style-position: inside;
    list-style-type: circle;
}

.typography-content ol {
    list-style-position: inside;
}

.typography-content h2 {
    border-bottom: none;
}

.typography-content h3 {
    margin-top: 10px;
}

.typography-content a {
    text-decoration: underline;
}

.ajax {
    color: #c67234;
    text-decoration: none;
    border-bottom: 1px dashed #c67234;
}
.ajax:hover {
    color: #c67234;
    text-decoration: none;
    border-bottom: none;
}

.form-group {
    position: relative;
}

/*colors*/

/*#eda127*/
/*#e77817*/
/*#bb5424*/
/*#f2be5b*/