@font-face {
    font-family: 'Fira Sans Light';
    src: url('firasans-two.eot');
    src: url('firasans-two.eot?#iefix') format('embedded-opentype'),
         url('firasans-two.woff') format('woff'),
         url('firasans-two.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans Light';
    src: url('firasans-twoitalic.eot');
    src: url('firasans-twoitalic.eot?#iefix') format('embedded-opentype'),
         url('firasans-twoitalic.woff') format('woff'),
         url('firasans-twoitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans Light';
    src: url('firasans-eight.eot');
    src: url('firasans-eight.eot?#iefix') format('embedded-opentype'),
         url('firasans-eight.woff') format('woff'),
         url('firasans-eight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans Light';
    src: url('firasans-eightitalic.eot');
    src: url('firasans-eightitalic.eot?#iefix') format('embedded-opentype'),
         url('firasans-eightitalic.woff') format('woff'),
         url('firasans-eightitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans Light';
    src: url('firasans-hair.eot');
    src: url('firasans-hair.eot?#iefix') format('embedded-opentype'),
         url('firasans-hair.woff') format('woff'),
         url('firasans-hair.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans Light';
    src: url('firasans-hairitalic.eot');
    src: url('firasans-hairitalic.eot?#iefix') format('embedded-opentype'),
         url('firasans-hairitalic.woff') format('woff'),
         url('firasans-hairitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans Light';
    src: url('firasans-thin.eot');
    src: url('firasans-thin.eot?#iefix') format('embedded-opentype'),
         url('firasans-thin.woff') format('woff'),
         url('firasans-thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans Light';
    src: url('firasans-thinitalic.eot');
    src: url('firasans-thinitalic.eot?#iefix') format('embedded-opentype'),
         url('firasans-thinitalic.woff') format('woff'),
         url('firasans-thinitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans Light';
    src: url('firasans-ultralight.eot');
    src: url('firasans-ultralight.eot?#iefix') format('embedded-opentype'),
         url('firasans-ultralight.woff') format('woff'),
         url('firasans-ultralight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans Light';
    src: url('firasans-ultralightitalic.eot');
    src: url('firasans-ultralightitalic.eot?#iefix') format('embedded-opentype'),
         url('firasans-ultralightitalic.woff') format('woff'),
         url('firasans-ultralightitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('firasans-extralight.eot');
    src: url('firasans-extralight.eot?#iefix') format('embedded-opentype'),
         url('firasans-extralight.woff') format('woff'),
         url('firasans-extralight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('firasans-extralightitalic.eot');
    src: url('firasans-extralightitalic.eot?#iefix') format('embedded-opentype'),
         url('firasans-extralightitalic.woff') format('woff'),
         url('firasans-extralightitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('firasans-light.eot');
    src: url('firasans-light.eot?#iefix') format('embedded-opentype'),
         url('firasans-light.woff') format('woff'),
         url('firasans-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('firasans-lightitalic.eot');
    src: url('firasans-lightitalic.eot?#iefix') format('embedded-opentype'),
         url('firasans-lightitalic.woff') format('woff'),
         url('firasans-lightitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('firasans-book.eot');
    src: url('firasans-book.eot?#iefix') format('embedded-opentype'),
         url('firasans-book.woff') format('woff'),
         url('firasans-book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('firasans-bookitalic.eot');
    src: url('firasans-bookitalic.eot?#iefix') format('embedded-opentype'),
         url('firasans-bookitalic.woff') format('woff'),
         url('firasans-bookitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('firasans-regular.eot');
    src: url('firasans-regular.eot?#iefix') format('embedded-opentype'),
         url('firasans-regular.woff') format('woff'),
         url('firasans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('firasans-medium.eot');
    src: url('firasans-medium.eot?#iefix') format('embedded-opentype'),
         url('firasans-medium.woff') format('woff'),
         url('firasans-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('firasans-mediumitalic.eot');
    src: url('firasans-mediumitalic.eot?#iefix') format('embedded-opentype'),
         url('firasans-mediumitalic.woff') format('woff'),
         url('firasans-mediumitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('firasans-semibold.eot');
    src: url('firasans-semibold.eot?#iefix') format('embedded-opentype'),
         url('firasans-semibold.woff') format('woff'),
         url('firasans-semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('firasans-semibolditalic.eot');
    src: url('firasans-semibolditalic.eot?#iefix') format('embedded-opentype'),
         url('firasans-semibolditalic.woff') format('woff'),
         url('firasans-semibolditalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('firasans-bold.eot');
    src: url('firasans-bold.eot?#iefix') format('embedded-opentype'),
         url('firasans-bold.woff') format('woff'),
         url('firasans-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('firasans-bolditalic.eot');
    src: url('firasans-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('firasans-bolditalic.woff') format('woff'),
         url('firasans-bolditalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans Heavy';
    src: url('firasans-extrabold.eot');
    src: url('firasans-extrabold.eot?#iefix') format('embedded-opentype'),
         url('firasans-extrabold.woff') format('woff'),
         url('firasans-extrabold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans Heavy';
    src: url('firasans-extrabolditalic.eot');
    src: url('firasans-extrabolditalic.eot?#iefix') format('embedded-opentype'),
         url('firasans-extrabolditalic.woff') format('woff'),
         url('firasans-extrabolditalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans Heavy';
    src: url('firasans-heavy.eot');
    src: url('firasans-heavy.eot?#iefix') format('embedded-opentype'),
         url('firasans-heavy.woff') format('woff'),
         url('firasans-heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans Heavy';
    src: url('firasans-heavyitalic.eot');
    src: url('firasans-heavyitalic.eot?#iefix') format('embedded-opentype'),
         url('firasans-heavyitalic.woff') format('woff'),
         url('firasans-heavyitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans Heavy';
    src: url('firasans-ultra.eot');
    src: url('firasans-ultra.eot?#iefix') format('embedded-opentype'),
         url('firasans-ultra.woff') format('woff'),
         url('firasans-ultra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans Heavy';
    src: url('firasans-ultraitalic.eot');
    src: url('firasans-ultraitalic.eot?#iefix') format('embedded-opentype'),
         url('firasans-ultraitalic.woff') format('woff'),
         url('firasans-ultraitalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Mono';
    src: url('firamono-bold.eot');
    src: url('firamono-bold.eot?#iefix') format('embedded-opentype'),
         url('firamono-bold.woff') format('woff'),
         url('firamono-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Mono';
    src: url('firamono-regular.eot');
    src: url('firamono-regular.eot?#iefix') format('embedded-opentype'),
         url('firamono-regular.woff') format('woff'),
         url('firamono-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}