{% csrf_token %}
<div class="modal-body jumbotron">
    {{ form.bootstrapped }}
</div>

<div class="modal-footer">
    <button href="#" class="btn btn-inverse" type="submit">Отправить</button>
</div>