<h1>На сайте {{ site_name }} была заполнена форма на перезвонилку</h1>

<h2>Данные:</h2>

<b>Персона:</b> {{ person }}<br />
<b>Телефон:</b> {{ phone }}<br />
{% if referer %}
<b>Пришел с:</b> {{ referer }}<br />
{% endif %}
