{% extends 'base.html' %}
{% load xendor_tags %}

{% block content %}

    <h1>Заказать звонок</h1>
    <hr />
    <form method="post" action="" class="form-horizontal">
        {% csrf_token %}
        {{ form.bootstrapped }}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Отправить</button>
        </div>
    </form>

{% endblock %}

