{% load xendor_tags %}

{% if sorting|length > 0 %}

{% endif %}

{% for field in sorting %}
    {% if field.3 %}
    	{% if field.1 == 'asc' %}
    		&uarr;
    	{% endif %}
    	
    	{% if field.1 == 'desc' %}
    		&darr;
    	{% endif %}
		
	{% endif %}

    <a href="{% insert_get_parameter field.1 field.0 field.4 %}" class="{{ field.3 }} {% if field.3 %}{{ field.1 }}{% endif %}">{{ field.2 }}</a>

	{% if not forloop.last %} | {% endif %}
{% endfor %}


{#{% if sorting|length > 0 %}#}
{#    <ul class="list-inline list-unstyled sorting">#}
{#        <li>Сортировка: </li>#}
{#        {% for field in sorting %}#}
{#            <li class="{{ field.3 }} {% if field.3 %}{{ field.1 }}{% endif %}">#}
{#                <a href="{% insert_get_parameter field.1 field.0 field.4 %}">#}
{#                    {{ field.2 }} <span>{% if field.3 %}#}
{#                        {% if field.1 == 'asc' %}#}
{#                            &uarr;#}
{#                        {% endif %}#}
{##}
{#                        {% if field.1 == 'desc' %}#}
{#                            &darr;#}
{#                        {% endif %}#}
{##}
{#                    {% endif %}#}
{#                </span></a>#}
{#            </li>#}
{#        {% endfor %}#}
{#    </ul>#}
{#{% endif %}#}