{% extends 'catalog/subcategory.html' %}
{% load xendor_tags %}
{% load catalog_tags %}
{% load article_tags %}
{% load basket_tags %}



{% block product-list-header %}
    <h2>{{ brand.name }}</h2>

    {{ brand.description|safe }}
{% endblock %}

{% block brand-filter %}
    <div class="brand-filter">
        <ul class="list-unstyled">

            {% for brand in brands %}
                <li>
                    Выбранный производитель:
                    <img src="{{ brand.image|xthumbnail:'100;40;blank' }}" alt=""/>
                </li>
            {% endfor %}
        </ul>
        <br class="clear"/>
    </div>
{% endblock %}