{% extends 'base.html' %}
{% load xendor_tags catalog_tags %}

{% block content %}

    {% catalog_special_by_category object %}

    <div class="row">
        <div class="col-lg-12">
            <h2>{{ object.get_header }}</h2>
            <div class="article typography-content">
                {{ object.description|safe }}
            </div>

        </div>
    </div>

    <div class="gap-10"></div>

    <div class="row">
        <div class="col-lg-12 catalog-category">

            <h2>Товары</h2>

            <div class="row">
                {% for item in object_list %}
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <a href="{{ item.get_absolute_url }}">
                            <img src="{{ item.image|xthumbnail:'410;410;blank;fix' }}" alt="" style="width: 100%"/>
                        </a>
                        <h3><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></h3>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                        </div>
                        <div class="gap-30"></div>
                        <div class="row">
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="gap-10"></div>

{% endblock %}

{% block promo-status %}closed{% endblock %}

{#{% block promo %}{% endblock %}#}