{% extends 'base.html' %}
{% load xendor_tags catalog_tags basket_tags %}

{% block content %}
    <h2>Сравнение товаров</h2>
    {% if items %}
    <div class="row" style="padding-left: 15px; padding-right: 15px">
        <div class="col-lg-12 horisontal-scrolled" style="position:relative; width: 100%; overflow: hidden; padding-left: 0;  padding-right: 0; ">
            <table class="table comparison">
                <thead>
                    <tr>
                        {% for item in items %}
                            <th>
                                <a href="{% catalog_compare_url 'catalog-compare-remove' item %}"><span class="glyphicon glyphicon-remove"></span> Удалить</a>
                            </th>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for item in items %}
                            <th>
                                <h3><a href="{{ item.get_absolute_url }}">{{ item }}</a></h3>
                            </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="400" class="title">Цена</td>
                    </tr>
                    <tr>
                        {% for item in items %}
                            <td class="item-price">{{ item.price|x1000 }} руб.</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td colspan="400" class="title">Изображение</td>
                    </tr>
                    <tr>
                        {% for item in items %}
                            <td>
                                <a href="{{ item.get_absolute_url }}">
                                    <img src="{{ item.image|xthumbnail:'200;200;blank' }}" alt=""/>
                                </a>
                            </td>
                        {% endfor %}
                    </tr>

                    {% for parameter in parameters %}
                        <tr>
                            <td colspan="400" class="title">{{ parameter }}</td>
                        </tr>
                        <tr>
                            {% for value in parameter.values_list %}
                                <td>{{ value|default:'-' }}</td>
                            {% endfor %}

                        </tr>
                    {% endfor %}

                    <tr>
                        <td colspan="4" class="title">Описание</td>
                    </tr>
                    <tr>
                        {% for item in items %}
                            <td>
                                {{ item.comparison_text|default:''|safe }}
                            </td>
                        {% endfor %}
                    </tr>
                    <tfoot>
                        <tr>
                            {% for item in items %}
                                <th>
                                    <a href="{% basket_url_link 'basket-add' item %}" class="btn add-to-cart"><span class="glyphicon glyphicon-shopping-cart"></span> Купить</a>
                                </th>
                            {% endfor %}
                        </tr>
                    </tfoot>
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
        <blockquote>Добавьте товары к списку сравнения</blockquote>
    {% endif %}


{% endblock %}

{% block promo-status %}closed{% endblock %}

{#{% block promo %}{% endblock %}#}