{% extends 'base.html' %}
{% load xendor_tags news_tags catalog_tags ads_tags basket_tags %}

{% block content %}

    {% catalog_special_for_main %}

    {% catalog_popular_category %}

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            <h2>Новинки</h2>
            {% for item in object_list %}
                {% if item.delivery_status == 'out_stock' %}
                    {% catalog_reminder_form item %}
                {% endif %}
                <div class="new-item">

                    <div class="row">
                        <div class="col-lg-10">
                            <h3><a href="{{ item.get_absolute_url }}">{{ item }}</a></h3>
                        </div>
                    </div>
                    <div class="gap-10"></div>

                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <a href="{{ item.get_absolute_url }}">
                                <img src="{{ item.image|xthumbnail:'180;140;blank;fix' }}" alt=""/>
                            </a>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                            <div class="row">
                                <div class="col-lg-4">
                                    {% if item.delivery_status == 'in_stock' %}
                                        <div class="in-stock"><span class="glyphicon glyphicon-ok"></span> В наличии</div>
                                    {% elif item.delivery_status == 'orderable' %}
                                        <div class="in-stock"><span class="glyphicon glyphicon-time"></span> Под заказ</div>
                                    {% elif item.delivery_status == 'out_stock' %}
                                        <div class="in-stock"><span class="glyphicon glyphicon-remove"></span> Отсутствует</div>
                                    {% endif %}
                                </div>
                                {% if item.old_price %}
                                    <div class="col-lg-8">
                                        <div class="in-stock"><span class="glyphicon glyphicon-tag"></span> Спецпредложение</div>
                                    </div>
                                {% endif %}
                            </div>

                            {{ item.short_description|safe }}
                            <hr>
                            {% if item.delivery_status == 'out_stock' %}
                                <a href="#product-reminder" class="btn add-to-remind" role="button" data-toggle="modal"><span class="glyphicon glyphicon-envelope"></span> Подписаться</a>
                            {% else %}
                                <a href="{% basket_url_link 'basket-add' item %}" class="btn add-to-cart"><span class="glyphicon glyphicon-shopping-cart"></span> Купить</a>
                            {% endif %}
{#                            <a href="{% basket_url_link 'basket-add' item %}" class="btn add-to-cart"><span class="glyphicon glyphicon-shopping-cart"></span> Купить</a>#}

                            {% catalog_item_in_comparison item as in_comparison %}
                            {% if not in_comparison  %}
                                <a href="{% catalog_compare_url 'catalog-compare-add' item %}" class=" add-to-comparison pull-right">
                                    <span class="glyphicon glyphicon-stats"></span>
                                    Сравнить</a>
                            {% else %}
                                <a href="{% url 'catalog-comparison' %}" class="go-to-comparison pull-right">
                                    Перейти к сравнению <span class="glyphicon glyphicon-arrow-right"></span>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    {% if item.delivery_status != 'out_stock' %}
                        <div class="price">{{ item.price|x1000|safe }} р.</div>
                    {% endif %}
                </div>
                <div class="gap-20"></div>
            {% endfor %}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            {% news_last %}

            {% ads_banner 2 %}

        </div>
    </div>

{#    <div class="gap-10"></div>#}
    {% if page.content %}
        <div class="gap-20"></div>

        <div class="row">
            <div class="col-lg-12">
                <h2>{{ page }}</h2>

                {{ page.content|safe }}
            </div>
        </div>
        <div class="gap-20"></div>
    {% endif %}

{% endblock %}

{% block promo-status %}closed{% endblock %}