<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE yml_catalog SYSTEM "shops.dtd">
{% load thumbnail cache %}
{% cache 86400 yml_export %}<yml_catalog date="{% now "Y-m-d H:i" %}">
    <shop>
        <name>T-Sport</name>
        <company>ООО Т-Спорт</company>
        <url>http://t-sport66.ru</url>
        <currencies>
            <currency id="RUR" rate="1" plus="0"/>
        </currencies>
        <categories>
            {% for o in objects %}
                <category id="{{ o.index }}">{{ o.meta.verbose_name_plural }}</category>
            {% endfor %}
        </categories>
        <local_delivery_cost>300</local_delivery_cost>
        <offers>
            {% for o in objects %}
                {% for i in o.objects.all %}
                    <offer id="{{ i.pk }}" type="vendor.model" available="true">
                        <url>http://{{ site.domain }}{{ i.get_absolute_url }}</url>
                        <price>{{ i.get_price }}</price>
                        <currencyId>RUR</currencyId>
                        <categoryId type="Own">{{ o.index }}</categoryId>
                        {% for img in i.get_images %}
                            <picture>http://{{ site.domain }}{{ img.image.url }}</picture>
                        {% endfor %}
                        <vendor>{{ i.vendor.title }}</vendor>
                        <vendorCode>{{ i.pk }}</vendorCode>
                        <model>{{ i.get_big_title }} {{ i.get_short_params }}</model>
                        <description><![CDATA[{{ i.get_short_description }}]]></description>
                    </offer>
                {% endfor %}
            {% endfor %}
        </offers>
    </shop>
    </yml_catalog>{% endcache %}
