{% extends 'base.html' %}
{% load xendor_tags %}

{% block content %}
    <div class="gap-30"></div>
    <form method="post" action="">
        {% csrf_token %}
        <button type="submit" class="btn btn-inverse">Начать парсинг</button>

    </form>
    <hr/>

    {% if not_parsed  %}
        <h2>Вывод ошибок</h2>
        {% for item in not_parsed %}
            <p>
                {{ item }}
            </p>
        {% endfor %}

    {% else %}
         Парсинг прошел без ошибок
    {% endif %}

{% endblock %}

{% block promo-status %}closed{% endblock %}