{% extends 'base.html' %}
{% load xendor_tags basket_tags catalog_tags %}

{% block content %}
    {% block extra-head %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"> </script>
        <script src="https://www.kupivkredit.ru/widget/vkredit.js"> </script>
        <script type="text/javascript">
        $(function(){
    var callback_close = function(decision) {
        var result = '';
        switch(decision) {
            case 'ver':
                result = 'Ваша заявка предварительно одобрена.';
                break;
            case 'agr':
                result = 'Ваша заявка одобрена! Поздравляем!';
                break;
            case 'rej':
                result = 'К сожалению, заявка отклонена банком.';
                break;
            case '':
                result = 'Вы не заполнили заявку до конца';
            break;
            default:
                result = 'Ваша заявка находится на рассмотрении';
                break;
        }
        //$('#result').html(result);
    };
    var callback_decision = function(decision) {
        //alert('Пришел статус: ' + decision);
    };
    var callback_before_close = function(wantClose) {
        //alert('Клиент нажал крестик, потом (1-Да, 0-Нет): ' + wantClose);
    };
    var callback_form_complete = function(value) {
        //alert('Клиент заполнил форму');
    };
    var callback_accept = function(value) {
        //alert('Клиент принял решение по заявке: ' + value);
        $.getJSON('{% url 'catalog-credit-message' %}', {message: 'Клиент принял решение по заявке: ' + value})
    };

    vkredit = new VkreditWidget(1, /*цвет кнопки*/ 144574, /*цена в месяц*/
    {
        order: "{{ b64 }}",
        sig: "{{ sig }}",
        callbackUrl: window.location.href,
        onClose: callback_close,
        onDecision: callback_decision,
        onBeforeClose: callback_before_close,
        onFormComplete: callback_form_complete,
        onAccept: callback_accept
    }); vkredit.insertButton('fieldset');
});
        </script>
    {% endblock %}
    <div class="gap-20"></div>
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <a href="{{ object.image|xthumbnail:'1600;1200;' }}" data-lightbox="product-gallery">
                <img src="{{ object.image|xthumbnail:'600;500;blank' }}" alt="" class="big-image hovered"/>
            </a>
        </div>
        <div class="col-md-6 col-lg-6" style="position: relative">
            {% if object.delivery_status != 'out_stock' %}
                <div class="item-price">
                    <span>Цена: </span>
                    {{ object.price|x1000 }} р.
                    {% if object.old_price %}
                        <del>{{ object.old_price|x1000 }} р.</del>
                    {% endif %}
                </div>
            {% endif %}

            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    {% if object.delivery_status == 'in_stock' %}
                        <div class="in-stock"><span class="glyphicon glyphicon-ok"></span> В наличии</div>
                    {% elif object.delivery_status == 'orderable' %}
                        <div class="in-stock"><span class="glyphicon glyphicon-time"></span> Под заказ</div>
                    {% elif object.delivery_status == 'out_stock' %}
                        <div class="in-stock"><span class="glyphicon glyphicon-remove"></span> Отсутствует</div>
                    {% endif %}
                </div>
                {% if object.old_price %}
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <div class="in-stock"><span class="glyphicon glyphicon-tag"></span> Спецпредложение</div>
                    </div>
                {% endif %}
            </div>

            {% with object.brand as brand %}
                {% if brand.image %}
                    <div class="item-brand">
                        <span>Производитель: </span>
                        <img src="{{ brand.image|xthumbnail:'275;55;blank;' }}" alt="{{ brand }}"/>
                    </div>
                {% endif %}
            {% endwith %}
            <hr>
            {% if object.delivery_status == 'out_stock' %}
                {% catalog_reminder_form object %}
                <a href="#product-reminder" class="btn add-to-remind" role="button" data-toggle="modal"><span class="glyphicon glyphicon-envelope"></span> Подписаться</a>
            {% else %}
                <a href="{% basket_url_link 'basket-add' object %}" class="btn add-to-cart"><span class="glyphicon glyphicon-shopping-cart"></span> Купить</a>
            {% endif %}

            {% catalog_item_in_comparison object as in_comparison %}
            {% if not in_comparison  %}
                <a href="{% catalog_compare_url 'catalog-compare-add' object %}" class=" add-to-comparison pull-right">
                    <span class="glyphicon glyphicon-stats"></span>
                    Сравнить</a>
            {% else %}
                <a href="{% url 'catalog-comparison' %}" class="go-to-comparison pull-right">
                    Перейти к сравнению <span class="glyphicon glyphicon-arrow-right"></span>
                </a>
            {% endif %}



            <div class="gap-10"></div>
        {% if request.user.is_authenticated %}
            <a href="#" onclick="vkredit.openWidget()" class="credit">
                <img src="{{ STATIC_URL }}img/kvk_logo.png" alt="Открыть виджет" style="height: 60px;"/>
            </a>
        {% endif %}
            <ul class="list-unstyled item-gallery">
                {% for photo in object.get_photos %}
                    <li {% if forloop.first %}class="active" {% endif %}>
                        <a
                                href="{{ photo|xthumbnail:'1600;1200;' }}"
                                rel="{{ photo|xthumbnail:'600;500;blank' }}">
                            <img src="{{ photo|xthumbnail:'100;110;blank;fix;' }}" alt="" class="hovered"/></a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="gap-20"></div>
    <h2>{{ object }}</h2>

    <div class="typography-content">
        {#блок праметров#}
        {% if parameters %}
            <table class="table table-bordered">
                <tr>
                    {% for parameter in parameters %}
                        <th>{{ parameter.parameter }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for parameter in parameters %}
                        <td>{{ parameter.value|default:'-' }}</td>
                    {% endfor %}
                </tr>
            </table>
        {% endif %}
        {{ object.description|safe }}

    </div>

    {% with object.articles.all as articles %}
        {% if articles %}
            <div class="gap-10"></div>
            <div class="another-article">
                Статьи по теме:
                {% for article in articles %}
                    <a href="{{ article.get_absolute_url }}">&laquo;{{ article.title }}&raquo;</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    {% catalog_product_group object %}

    <div class="gap-20"></div>

    <h2>Отзывы</h2>
    <a href="{% url 'response-add-for-product' object.pk %}" class="btn add-to-cart pull-right">оставить отзыв</a>
    <br class="clear"/>

    {% with object.get_resposes as responses %}

        {% for item in responses %}
            <div class="response">
                <em><span class="glyphicon glyphicon-hand-right"></span> {{ item.person }} ({{ item.created }})</em>

                <p>{{ item.text|safe }}</p>

                <blockquote>{{ item.answer|safe }}</blockquote>
            </div>
            <div class="gap-20"></div>
        {% empty %}
            <blockquote>Отзывов о товаре не добавлено, будьте первым!</blockquote>
        {% endfor %}

    {% endwith %}

    <div class="gap-10"></div>

{% endblock %}

{% block promo-status %}closed{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/lightbox/js/lightbox.js"></script>
    <script type="application/javascript">
        $(document).ready(function(){
            $('.item-gallery a').click(function(){
                $('.item-gallery li').removeClass('active');
                $(this).parent().addClass('active')
                $('.big-image').attr('src', $(this).attr('rel'))
                $('.big-image').parent().attr('href', $(this).attr('href'))

                return false;
            })

            return true;
        });
    </script>
{% endblock %}