<h1>Обновление ассортимента</h1>

<p>Запрашиваемый вами товар "{{ product }}" поступил на склад.</p>
<p>Вы можете оформить заказ по  адресу <a href="http://t-sport66.ru{{ product.get_absolute_url }}">http://t-sport66.ru{{ product.get_absolute_url }}</a></p>

<p>Спасибо за обращение в интернет-магазин T-Sport</p>