{% extends 'base.html' %}
{% load xendor_tags %}
{% load catalog_tags %}
{% load article_tags %}
{% load basket_tags %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h2>Поиск по товарам</h2>

            <div class="filtr-panel">

                <div class="row">
                    <div class="hidden-xs hidden-sm col-md-2 col-lg-2" style="text-align: right;">
                        <span>Сортировка: </span>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                        {% include 'catalog/_sorting.html' %}

                        {% catalog_paginate_by %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gap-10"></div>

    <div class="row">
        <div class="col-lg-12">

            {% for item in object_list %}
                {% basket_url 'basket-add' item as basket_url %}
                <div class="new-item">
                    <div class="row">
                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                            <h3><a href="{{ item.get_absolute_url }}">{{ item|safe }}</a></h3>
                        </div>
                    </div>
                    <div class="gap-10"></div>

                    <div class="row">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <a href="{{ item.get_absolute_url }}"><img src="{{ item.image|xthumbnail:'260;200;blank;fix' }}" alt=""/></a>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">

                            <div class="row">
                                <div class="col-lg-3">
                                    {% if item.delivery_status == 'in_stock' %}
                                        <div class="in-stock"><span class="glyphicon glyphicon-ok"></span> В наличии</div>
                                    {% elif item.delivery_status == 'orderable' %}
                                        <div class="in-stock"><span class="glyphicon glyphicon-time"></span> Под заказ</div>
                                    {% elif item.delivery_status == 'out_stock' %}
                                        <div class="in-stock"><span class="glyphicon glyphicon-remove"></span> Отсутствует</div>
                                    {% endif %}
                                </div>
                                {% if item.old_price %}
                                    <div class="col-lg-8">
                                        <div class="in-stock"><span class="glyphicon glyphicon-tag"></span> Спецпредложение</div>
                                    </div>
                                {% endif %}
                            </div>

                            <p>{{ item.short_description|safe }}</p>

                            <hr>

                            {% if item.delivery_status == 'out_stock' %}
                                <a href="#product-reminder" class="btn add-to-remind" role="button" data-toggle="modal"><span class="glyphicon glyphicon-envelope"></span> Подписаться</a>
                            {% else %}
                                <a href="{{ basket_url }}" class="btn add-to-cart"><span class="glyphicon glyphicon-shopping-cart"></span> Купить</a>
                            {% endif %}

                            {% catalog_item_in_comparison item as in_comparison %}
                            {% if not in_comparison  %}
                                <a href="{% catalog_compare_url 'catalog-compare-add' item %}" class=" add-to-comparison pull-right">
                                    <span class="glyphicon glyphicon-stats"></span>
                                    Сравнить</a>
                            {% else %}
                                <a href="{% url 'catalog-comparison' %}" class="go-to-comparison pull-right">
                                    Перейти к сравнению <span class="glyphicon glyphicon-arrow-right"></span>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    {% if item.delivery_status != 'out_stock' %}
                        <div class="price">{{ item.price|x1000|safe }} р. {% if item.old_price %}<div class="old-price">{{ item.old_price|x1000|safe }} р.</div>{% endif %}</div>
                    {% endif %}
                </div>
                <div class="gap-20"></div>
            {% empty %}
                <blockquote>По запросу &laquo;{{ request.GET.s }}&raquo; ничего не найдено</blockquote>
            {% endfor %}
            {{ paginator.render }}
        </div>
    </div>

{% endblock %}

{% block promo-status %}closed{% endblock %}

{#{% block promo %}{% endblock %}#}