{% extends 'base.html' %}
{% load xendor_tags basket_tags article_tags catalog_tags %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">

            {% block product-list-header %}
                <h2>{{ object.get_header }}</h2>
            {% endblock %}

            {% article_by_category object %}

            <div class="filtr-panel">
                {% if is_filtered %}
                    <a href="{{ object.get_absolute_url }}" class="remove-filter">Сброс</a>
                {% endif %}
                {% if parameters %}
                    <div class="row">
                        <div class="hidden-xs col-sm-2 col-md-2 col-lg-2" style="text-align: right;">
                            <span class="visible-sm-block" style="display: none">Фильтр:</span>
                            <span class="visible-md-block" style="display: none">Фильтровать:</span>
                            <span class="visible-lg-block" style="display: none">Фильтровать по:</span>
                        </div>
                        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                            <form action="" method="get" class="filtr-form">
                                {% for parameter in parameters %}
                                    <select name="filtr_{{ parameter.id }}" id="">
                                        <option value="0">{{ parameter }}</option>
                                        {% for value in parameter.product_values %}
                                            <option value="{{ value.0 }}" {% if value.1 %}selected{% endif %}>{{ value.0 }}</option>
                                        {% endfor %}
                                    </select>
                                {% endfor %}
                            </form>
                        </div>
                    </div>
                    <hr>
                {% endif %}

                <div class="row">
                    <div class="hidden-xs hidden-sm col-md-2 col-lg-2" style="text-align: right;">
                        <span>Сортировка: </span>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                        {% include 'catalog/_sorting.html' %}

                        {% catalog_paginate_by %}
                    </div>
                </div>
            </div>
            {% block brand-filter %}
                {% if brands %}
                    <div class="brand-filter">
                        <ul class="list-unstyled">
                            {% for brand in brands %}
                                <li><a href="{% url 'catalog-brand' object.slug brand.slug %}">
                                    <img src="{{ brand.image|xthumbnail:'100;40;blank' }}" alt=""/>
                                </a></li>
                            {% endfor %}
                        </ul>
                        <br class="clear"/>
                    </div>
                {% endif %}
            {% endblock %}
        </div>
    </div>

    <div class="gap-10"></div>

    {% if object.template == 'double' %}
        <div class="row double-column">
            {% for item in object_list %}
                {% if item.delivery_status == 'out_stock' %}
                    {% catalog_reminder_form item %}
                {% endif %}
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

                    {% basket_url 'basket-add' item as basket_url %}
                    <div class="new-item">
                        <div class="row">
                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                <h3><a href="{{ item.get_absolute_url }}">{{ item|safe }}</a></h3>
                            </div>
                        </div>
                        <div class="gap-10"></div>

                        <div class="row">
                            <div class="col-lg-6">
                                <a href="{{ item.get_absolute_url }}"><img src="{{ item.image|xthumbnail:'250;250;blank' }}" alt=""/></a>
                            </div>
                            <div class="col-lg-6">

                                {% if item.delivery_status == 'in_stock' %}
                                    <div class="in-stock"><span class="glyphicon glyphicon-ok"></span> В наличии</div>
                                {% elif item.delivery_status == 'orderable' %}
                                    <div class="in-stock"><span class="glyphicon glyphicon-time"></span> Под заказ</div>
                                {% elif item.delivery_status == 'out_stock' %}
                                    <div class="in-stock"><span class="glyphicon glyphicon-remove"></span> Отсутствует</div>
                                {% endif %}

                                {% if item.old_price %}
                                    <div class="gap-10"></div>
                                    <div class="in-stock"><span class="glyphicon glyphicon-tag"></span> Спецпредложение</div>

                                {% endif %}

                                <p>{{ item.short_description|safe }}</p>
                                <hr>

                                {% catalog_item_in_comparison item as in_comparison %}
                                {% if not in_comparison  %}
                                    <a href="{% catalog_compare_url 'catalog-compare-add' item %}" class="add-to-comparison">
                                        <span class="glyphicon glyphicon-stats"></span>
                                        Сравнить</a>
                                {% else %}
                                    <a href="{% url 'catalog-comparison' %}" class="go-to-comparison">
                                        Перейти к сравнению <span class="glyphicon glyphicon-arrow-right"></span>
                                    </a>
                                {% endif %}
                                <div class="gap-10"></div>

                                {% if item.delivery_status == 'out_stock' %}
                                    <a href="#product-reminder" class="btn add-to-remind" role="button" data-toggle="modal"><span class="glyphicon glyphicon-envelope"></span> Подписаться</a>
                                {% else %}
                                    <a href="{{ basket_url }}" class="btn add-to-cart"><span class="glyphicon glyphicon-shopping-cart"></span> Купить</a>
                                {% endif %}

                            </div>
                        </div>
                        <div class="price">{{ item.price|x1000|safe }} р. {% if item.old_price %}<div class="old-price">{{ item.old_price|x1000|safe }} р.</div>{% endif %}</div>
                    </div>
                    <div class="gap-20"></div>
                    {% if forloop.counter|divisibleby:'2' %}
                        </div>
                        <div class="row double-column">
                    {% endif %}
                </div>
            {% endfor %}
        </div>

    {% else %}
        {#вариант с одним элементом#}
        <div class="row">
            <div class="col-lg-12">

                {% for item in object_list %}
                    {% basket_url 'basket-add' item as basket_url %}
                    {% if item.delivery_status == 'out_stock' %}
                        {% catalog_reminder_form item %}
                    {% endif %}
                    <div class="new-item">
                        <div class="row">
                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                                <h3><a href="{{ item.get_absolute_url }}">{{ item|safe }}</a></h3>
                            </div>
                        </div>
                        <div class="gap-10"></div>

                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <a href="{{ item.get_absolute_url }}"><img src="{{ item.image|xthumbnail:'260;200;blank;fix' }}" alt=""/></a>
                            </div>
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">

                                <div class="row">
                                    <div class="col-lg-3">
                                        {% if item.delivery_status == 'in_stock' %}
                                            <div class="in-stock"><span class="glyphicon glyphicon-ok"></span> В наличии</div>
                                        {% elif item.delivery_status == 'orderable' %}
                                            <div class="in-stock"><span class="glyphicon glyphicon-time"></span> Под заказ</div>
                                        {% elif item.delivery_status == 'out_stock' %}
                                            <div class="in-stock"><span class="glyphicon glyphicon-remove"></span> Отсутствует</div>
                                        {% endif %}
                                    </div>
                                    {% if item.old_price %}
                                        <div class="col-lg-8">
                                            <div class="in-stock"><span class="glyphicon glyphicon-tag"></span> Спецпредложение</div>
                                        </div>
                                    {% endif %}
                                </div>

                                <p>{{ item.short_description|safe }}</p>

                                <hr>
                                {% if item.delivery_status == 'out_stock' %}
                                    <a href="#product-reminder" class="btn add-to-remind" role="button" data-toggle="modal"><span class="glyphicon glyphicon-envelope"></span> Подписаться</a>
                                {% else %}
                                    <a href="{{ basket_url }}" class="btn add-to-cart"><span class="glyphicon glyphicon-shopping-cart"></span> Купить</a>
                                {% endif %}
{#                                <a href="{{ basket_url }}" class="btn add-to-cart"><span class="glyphicon glyphicon-shopping-cart"></span> Купить</a>#}

                                {% catalog_item_in_comparison item as in_comparison %}
                                {% if not in_comparison  %}
                                    <a href="{% catalog_compare_url 'catalog-compare-add' item %}" class=" add-to-comparison pull-right">
                                        <span class="glyphicon glyphicon-stats"></span>
                                        Сравнить</a>
                                {% else %}
                                    <a href="{% url 'catalog-comparison' %}" class="go-to-comparison pull-right">
                                        Перейти к сравнению <span class="glyphicon glyphicon-arrow-right"></span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                        {% if item.delivery_status != 'out_stock' %}
                            <div class="price">{{ item.price|x1000|safe }} р. {% if item.old_price %}<div class="old-price">{{ item.old_price|x1000|safe }} р.</div>{% endif %}</div>
                        {% endif %}
                    </div>
                    <div class="gap-20"></div>
                {% endfor %}

            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-lg-12">
            {{ paginator.render }}

            <div class="ga-10"></div>
            {{ object.description|safe }}
        </div>
    </div>
{% endblock %}

{% block promo-status %}closed{% endblock %}
{#{% block promo %}{% endblock %}#}
{% block js %}
    {{ block.super }}
    <script type="application/javascript">
        $(document).ready(function(){

            $('.filtr-form select').change(function(){
                $(this).parent().submit()
            })

            return true;
        });
    </script>
{% endblock %}