{% load xendor_tags %}

{% if zone.visible and baner %}
    <div class="gap-20"></div>
    <div style="width: {{ zone.width }}; {{ zone.style }}" class="banner">
        {% if baner.text %}
            {{ baner.text|safe }}
        {% else %}
            <a href="{{ baner.link }}">
                <img src="{{ image }}" alt=""/>
            </a>
        {% endif %}
    </div>
{% endif %}
