{% extends "admin/change_list.html" %}
{% load i18n %}


{% block object-tools %}
    {% if has_add_permission %}
        <ul class="grp-object-tools">
            {% block object-tools-items %}
{#                <li><a href="clear-text/" class="btn">Чистка текстов</a></li>#}
                <li><a href="load-price/" class="btn">Загрузка прайсов</a></li>
                <li>
                    <a href="add/{% if is_popup %}?_popup=1{% endif %}" class="grp-add-link grp-state-focus">
                        {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
                    </a>
                </li>
            {% endblock %}
        </ul>
    {% endif %}
{% endblock %}