{% extends 'admin/change_form.html' %}

{% load i18n admin_static admin_modify %}
{% load url from future %}
{% load admin_urls %}
{% load xendor_tags %}


{% block page-tools %}{% endblock %}


{% block breadcrumbs %}
    {% if not is_popup %}
        <ul>
            <li><a href="../../../">{% trans "Home" %}</a></li>
            <li><a href="../">Товары</a></li>

            <li class="active">
                Загрузка прайса
            </li>
        </ul>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>Загрузка прайсов</h1>
    <hr>
    <form action="" class="form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.bootstrapped }}
        <footer class="grp-module grp-submit-row grp-fixed-footer">
            <header style="display:none"><h1>Submit Options</h1></header>
            <ul>
                <li class="grp-float-left">
                    <input type="submit" value="Загрузить" class="grp-button">
                </li>
            </ul>
        </footer>
    </form>
    <hr/>
    <p class="errornote">Параметры прошлого парсинга</p>

    <h1>Товары в базе магазина</h1>

    {% for item in parsed %}
        <p>{{ item|safe }}</p>
    {% endfor %}
    <br/>
    <hr>

    <h1>Не найденные товары</h1>

    {% for item in not_parsed %}
        <p>{{ item|safe }}</p>
    {% endfor %}
{% endblock %}