{% extends 'admin/change_form.html' %}

{% load i18n admin_static admin_modify %}
{% load url from future %}
{% load admin_urls %}
{% load xendor_tags %}


{% block page-tools %}{% endblock %}


{% block breadcrumbs %}
    {% if not is_popup %}
        <ul>
            <li><a href="../../">{% trans "Home" %}</a></li>
            <li><a href=".">Товары</a></li>
            <li class="active">
                Установка параметров
            </li>
        </ul>
    {% endif %}
{% endblock %}


{% block content %}
    <h1>Установка параметров товаров</h1>

    <form action="" class="form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <input type="hidden" name="action" value="multiset_parameters" />
        <input type="hidden" name="post" value="yes" />

        {% for item in products %}
            <input type="hidden" name="_selected_action" value="{{ item.pk }}">
            <fieldset class="grp-module">
                <h2>{{ item }}</h2>
                {% for parameter in item.parameters_to_set %}
                    <div class="grp-row">
                        <div class="l-2c-fluid l-d-4">
                            <div class="c-1"><label>{{ parameter }}</label></div>
                            <div class="c-2">
                                <select name="pars_{{ item.pk }}_{{ parameter.parameter.pk }}" id="" class="form-control">
                                    {% for variant in parameter.choices %}
                                        <option value="{{ variant.0 }}" {% if parameter.value == variant.0 %}selected{% endif %}>{{ variant.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </fieldset>
        {% endfor %}

        <footer class="grp-module grp-submit-row grp-fixed-footer">
            <header style="display:none"><h1>Submit Options</h1></header>
            <ul>
                <li class="grp-float-left">
                    <input type="submit" value="Сохранить" class="grp-button">
                </li>
            </ul>
        </footer>
    </form>
{% endblock %}