{% extends 'admin/change_form.html' %}

{% load i18n admin_static admin_modify %}
{% load url from future %}
{% load admin_urls %}
{% load xendor_tags %}


{% block page-tools %}{% endblock %}


{% block breadcrumbs %}
    {% if not is_popup %}
        <ul>
            <li><a href="../../">{% trans "Home" %}</a></li>
            <li><a href=".">Товары</a></li>
            <li class="active">
                Установка параметров
            </li>
        </ul>
    {% endif %}
{% endblock %}


{% block content %}
    <h1>Установка параметров товаров</h1>

    <form action="" class="form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <input type="hidden" name="action" value="set_categories" />
        <input type="hidden" name="post" value="yes" />

        {% for item in products %}
            <input type="hidden" name="_selected_action" value="{{ item.pk }}">
        {% endfor %}

        <fieldset class="grp-module">
            <h2>Выберите категории из списка</h2>

            <div class="grp-row">
                <div class="l-2c-fluid l-d-4">
                    <div class="c-1"><label></label></div>
                    <div class="c-2">
                        <select name="category_set" id="" class="form-control" multiple="multiple" size="120" style="height: 600px">
                            {% for category in categories %}
                                <option value="{{ category.pk }}" {% if category.level == 0 %}style="font-weight: bold"{% endif %}>
                                    {{ category.leveled_name }} {{ category.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </fieldset>

        <footer class="grp-module grp-submit-row grp-fixed-footer">
            <header style="display:none"><h1>Submit Options</h1></header>
            <ul>
                <li class="grp-float-left">
                    <input type="submit" value="Сохранить" class="grp-button">
                </li>
            </ul>
        </footer>
    </form>
{% endblock %}