{% extends 'base.html' %}
{% load contacts_tags xendor_tags bootstrap3 %}


{% block content %}

    <script src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" type="text/javascript"></script>

    <div class="gap-20"></div>
    {{ page_content|safe }}

    <div class="gap-10"></div>


    <h2>Схема проезда</h2>

    {% contacts_map %}

    <div class="gap-20"></div>


    <h2>Форма обратной связи</h2>
    {% if messages %}
        <blockquote class="messages">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </blockquote>
    {% endif %}
    <a name="contacts-form"></a>

    <form action="#contacts-form" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}

        <div class="control-group">
            <label  class="control-label"></label>
            <div class="controls">
                <button type="submit" class="btn add-to-cart">Отправить</button>
            </div>
        </div>
    </form>
    <div class="gap-20"></div>


{% endblock %}

{% block promo-status %}closed{% endblock %}

{#{% block promo %}{% endblock %}#}
