<h1>На сайте {{ site_name }} был оформлен заказ</h1>

Добрый день, {{ order.person }}!
--------------------------------------------------------
Спасибо за покупку в нашем интернет-магазине T-Sport
Наши менеджеры свяжутся с вами по координатам,
оставленным в форме заказа.

Подробности заказа № {{ order.pk }} от {{ order.created|date:"D d M Y" }}
--------------------------------------------------------
Контактное лицо: {{ order.person }}.
Телефон: {{ order.phone }}
Адрес и доп. инф: {{ order.address }}
Дата: {{ order.created }}
Доставка: {{ order.delivery }}
E-mail: {{ order.mail }}
Тип оплаты: {{ order.payment }}

Заказанные товары
-------------------------------------------------------
{% for item in order.ordereditem_set.all %}
    {{ item }} ({{ item.count }} шт. * {{ item.price }}) -- {{ item.get_total_price }}<br>
{% endfor %}
<br>
<br>
Итого: {{ order.price }}

-------------------------------------------------------
Стоимость заказа может измениться в одном из следующих случаев:
Доставка товара будет осуществляться в отдаленный район в соответствии с правилами доставки товара.
Отпускная цена изменена поставщиком, но пока не отредактирована на сайте нашими менеджерами.
Цена заказа фиксируется во время уточняющего звонка, который в ближайшее время поступит на Ваш телефон.
-------------------------------------------------------

Если у Вас возникнут вопросы, пожалуйста свяжитесь с нами по телефону горячей линии 8(343) 319-40-69

---------------------------------------------------------
C Уважением, Компания T-Sport г. Екатеринбург www.t-sport66.ru (343) 319-40-69