{% extends 'base.html' %}
{% load xendor_tags %}

{% block content %}
<div class="well">
	{% if messages %}
        <div class="message-block alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

            <h3>Информационное сообщение!</h3>
            
            <ul class="list-unstyled">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    
    <h1>Содержимое вашей корзины</h1>
    <hr />
    {% breadcrumbs 1 %}
    
	{% if items %}


        <table class="table">
        <thead>
            <tr>
                <th>Изображение</th>
                <th>Товар</th>
                <th style="width: 130px;">Количество</th>
                <th style="width: 100px;">Цена</th>
                <th></th>
            </tr>
        </thead>
            {% for item in items %}
                <tr>
                    <td>
                        <a href="{{ item.get_absolute_url }}" >
                            <img src="{{ item.image|xthumbnail:'100;200' }}" class="thumbnail"/>
                        </a>
                    </td>
                    <td style="vertical-align: middle;">
                        <h4 style="padding-left: 5px;"><a href="{{ item.get_absolute_url }}">{{ item }}</a>
                            {% if item.colored %}{% if item.colored == 'bw' %}(Серый цвет){% else %}(Цветной){% endif %}{% endif %}
                        </h4>
                        
                        <p style="padding-left: 5px;">
                        	{{item.description|truncatewords_html:10}}
                        </p>

                    </td>
                    <td style="vertical-align: middle;">
                    	<div class="btn-group">
                    		<a href="{% url 'basket-remove-one' item.pk %}"  class="btn btn-default btn-small">-</a>
                    		<strong class="btn btn-default btn-small">{{ item.basket_count|floatformat }}</strong>
                    		<a href="{% url 'basket-add-one' item.pk %}" class="btn btn-default btn-small">+</a> 
                    	</div>
                    </td>
                    <td style="vertical-align: middle;">
                        {% if item.colored %}
                            {% if item.colored == 'bw' %}
                                <div><strong>{{ item.price_bw|x1000_filter }} <del>Р</del></strong></div>
                            {% else %}
                                <div><strong>{{ item.get_main_price|x1000_filter }} <del>Р</del></strong></div>
                            {% endif %}
                        {% else %}
                            <div><strong>{{ item.get_main_price|x1000_filter }} <del>Р</del></strong></div>
                        {% endif %}
                    </td>
                    <td style="vertical-align: middle;">
                    	<a href="{% url 'basket-remove' item.pk %}" class="btn pull-right btn-small">X</a>	
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <th>Всего:</th>
                <td>
                    {{ common_count|floatformat }}
                </td>
                <td colspan="3">
                    <em>На сумму:</em>  <strong>{{ basket.price|x1000_filter }} <del>Р</del></strong>
                </td>
            </tr>
        </table>

    <p>
        <a href="{% url 'basket-order' %}" class="btn btn-danger pull-right btn-large">Оформить заказ →</a>
    </p>
    
    <br class="clear"/>
    {% if recomendation|length > 0 %}
    <h2>Советуем также приобрести</h2>
    <div class="gap-10"></div>
    <div class="row list-items">
    	{% for im in recomendation %}
    	<div class="col-3">
    		<h4><a href="{{im.get_absolute_url}}" title="{{im}}">{{im|truncatechars:25}}</a></h4>
    		<a href="{{im.get_absolute_url}}" class="thumbnail">
    			<img src="{{ im.image|xthumbnail:'200;200;blank' }}">
    		</a>
    		<form action="{% url 'basket-add' %}" method="post" class="price">
	            {% csrf_token %}
	            
			    <div class="price">
	            	{{im.price|floatformat}} руб
	            </div>
		    
			    <div class="btn-group input-group-sm">
				    <input type="text" class="form-control pull-left" value="1" name="count-item" style="height: 30px;">
	                <input type="submit" class="btn btn-default btn-small" value="Купить">
            	</div>
	
	            <input type="hidden" name="product" value="{{ im.pk }}">
	        </form>
    	</div>
    		{% if forloop.counter|divisibleby:'4' %}
	            </div><div class="gap-20"></div> <div class="row list-items">
	        {% endif %}
    	{% endfor %}
    </div>
    {% endif %}
{% else %}
    <blockquote>
        Корзина пуста, чаще всего у нас покупают:
    </blockquote>
    
	{% if best_price|length > 0 %}
	    <div class="gap-10"></div>
		<div class="row list-items">
		{% for item in best_price %}
	    	<div class="col-4">
	    		<a href="{{ item.get_absolute_url }}" class="thumbnail">
	        	    <img src="{{item.image|xthumbnail:'250;200;blank'}}">
	            </a>
	            <div class="price">
	            	{% if item.old_price %}
	            		<strike>{{item.old_price|x1000_filter}}</strike>
	            	{% endif %}
	            	{{item.price|x1000_filter}} руб
	            </div>
	        </div>
	        {% if forloop.counter|divisibleby:'3' %}
	            </div><div class="gap-20"></div> <div class="row list-items">
	        {% endif %}
	    {% endfor %}
	    </div>
	    <div class="gap-20"></div>
	{% endif %} 
{% endif %}
</div>
{% endblock %}