<h1>На сайте {{ site_name }} был оформлен заказ</h1>

<h2>Контактные данные:</h2>

<b>Персона:</b> {{ order.person }}<br />
<b>Телефон:</b> {{ order.phone }}<br />
<b>Почта:</b> {{ order.mail }}<br />
<b>Адрес:</b> {{ order.address }}<br />
<b>Комментарий:</b> {{ order.comment }}<br />
<b>Сумма заказа:</b> {{ order.price }}<br />

<h2>Данные заказа:</h2>
<pre>
{% for item in order.ordereditem_set.all %}
    {{ item }}<br />
{% endfor %}
</pre>