{% extends 'base.html' %}
{% load xendor_tags basket_tags bootstrap3 promo_tags %}

{% block content %}
    <div class="modal fade" id="offerta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h1>Пользовательское соглашение</h1>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 typography-content">
                            {% xendor_page '23' as offerta %}
                            {{ offerta.content|safe }}
                        </div>
                    </div>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2>Товары в корзине</h2>

            {% if price %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Фото</th>
                            <th>Название</th>
                            <th>Количество</th>
                            <th>Цена</th>
                            <th>Удалить</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                            {% basket_url 'basket-remove' item.0 as basket_remove_url %}
                            <tr>
                                <td class="order-photo">
                                    <img src="{{ item.0.image|xthumbnail:'120;120;blank' }}" alt=""/>
                                </td>
                                <td>
                                    <h3><a href="{{ item.0.get_absolute_url }}">{{ item.0.name }}</a></h3>
                                </td>
                                <td>
                                    <input type="text" value="{{ item.1 }}" class="spinner" rel="{% basket_url_link 'basket-set-count' item.0 %}" disabled/>
                                </td>
                                <td class="order-price">
                                    {{ item.0.price|x1000 }} р.
                                </td>
                                <td class="order-del">
                                    <a href="{{ basket_remove_url }}"><span class="glyphicon glyphicon-remove-sign"></span></a>
                                </td>
                            </tr>
                        {% endfor %}

                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="5" class="text-right order-total">
                                Итого: <span class="total">{{ price|x1000 }}</span> р.
                            </th>
                        </tr>
                    </tfoot>
                </table>

                <div class="gap-10"></div>
                <h2 id="full-form">Оформление заказа</h2>

                <form role="form" action="" method="post" id="basket-order-form" class="typography-content">
                    <div class="row">
                        <div class="col-md-7 col-lg-8">
                            {% csrf_token %}
                            {{ form.non_field_errors }}

                            <div class="form-group">
                                {{ form.phone.label_tag }}
                                {{ form.phone.errors }}
                                {{ form.phone }}
                            </div>

                            <div class="form-group">
                                {{ form.person.label_tag }}
                                {{ form.person.errors }}
                                {{ form.person }}
                            </div>

                            <div class="form-group">
                                {{ form.delivery.label_tag }}
                                {{ form.delivery.errors }}
                                {{ form.delivery }}
                                <div class="delivery-cost"></div>
                            </div>

                            <div class="form-group">
                                {{ form.payment.label_tag }}
                                {{ form.payment.errors }}
                                {{ form.payment }}
                                <div class="payment-cost"></div>
                            </div>

                            <div class="form-group">
                                {{ form.mail.label_tag }}
                                {{ form.mail.errors }}
                                {{ form.mail }}
                            </div>

                            <div class="form-group">
                                {{ form.address.label_tag }}
                                {{ form.address.errors }}
                                {{ form.address }}
                            </div>

                            <div class="form-group">
                                {{ form.comment.label_tag }}
                                {{ form.comment.errors }}
                                {{ form.comment }}
                            </div>
                              <p class=""><label>{{ form.eula }}
                                     Я прочитал(-а) и принимаю условия
                                </label>
                              <a href="#offerta" role="button" data-toggle="modal"> пользовательского соглашения</a>
                              </p>

                            <button type="submit" class="btn add-to-cart disabled">Оформить покупку</button>
                            <div class="gap-10"></div>
                        </div>
                        <div class="col-md-5 col-lg-4">
                            <div class="delivery-panel">
                                Ближайшая доставка через: <br/>
{#                                <span>6 д 13 ч 38 мин</span>#}
                                <span>{% countdown %}</span>
                            </div>
                            <div class="gap-10"></div>
                        </div>
                    </div>



{#                    <button type="submit" class="btn add-to-cart disabled">Оформить покупку</button>#}
                    <br class="clear"/>
{#                    <div class="gap-10"></div>#}
{#                    <blockquote>Если вам не трудно вы можете помочь нам улучшить качество нашей работы соощив дополнительные данные#}
{#                        <a href="#full-form" class="ajax show-full-form">Подробный заказ</a>#}
{#                    </blockquote>#}

{#full-form#}
                    <div class="">
{#                        <h2>Подробный заказ</h2>#}

                    </div>
                </form>

{#                <h2>Заказ </h2>#}

{#                <form role="form" action="" method="post">#}
{#                    {% csrf_token %}#}
{#                    {{ form.errors }}#}
{#                    {% bootstrap_form form %}#}
{##}
{#                  <div class="gap-10"></div>#}
{#                  <button type="submit" class="btn add-to-cart">Оформить покупку</button>#}
{#                </form>#}
            {% else %}
                <blockquote>Ваша корзина пуста</blockquote>
            {% endif %}
        </div>
    </div>

    <div class="gap-10"></div>

{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="application/javascript">
        $(document).ready(function(){

            $( ".spinner" ).spinner({
                icons: { down: "ui-icon-minusthick", up: "ui-icon-plusthick" },
                min: 1,
                stop: function( event, ui ) {
                    $.getJSON($(this).attr('rel'), {'count': $(this).val()}, function(data){
                        $('.total').html(data.price)
                        checkDelivery($('.delivery-calculation').val())
                        checkPayment($('.payment-calculation').val())
                    })

                }
            });

            $('.show-full-form').click(function(){
                $('.full-form').show()
            })

            $('#basket-order-form').submit(function(){
                if($('#id_eula:checked').length > 0){
                    return true;
                }
                return false;
            })

            if($('#id_eula:checked').length > 0){
                $('.add-to-cart').removeClass('disabled')
            }

            $('#id_eula').change(function(){
                if($('#id_eula:checked').length > 0){
                    $('.add-to-cart').removeClass('disabled')
                }else{
                    $('.add-to-cart').addClass('disabled')
                }
            })

            var checkDelivery = function(val){
                $.getJSON('{% url 'basket-get-delivery' %}', { delivery: val, payment: $('.payment-calculation').val() }, function(data) {

                    $('.delivery-cost').html('+ ' + data.deliveryCost + ' руб.')
                    $('.total').html(data.price)

                    if(data.deliveryCost == ''){
                        $('.delivery-cost').html('')
                    }
                })
            }

            var checkPayment = function(val){
                $.getJSON('{% url 'basket-get-delivery' %}', { payment: val, delivery: $('.delivery-calculation').val() }, function(data) {

                    $('.payment-cost').html('+ ' + data.paymentCost + '%')
                    $('.total').html(data.price)

                    if(data.paymentCost == ''){
                        $('.payment-cost').html('')
                    }
                })
            }

            $('.delivery-calculation').change(function(){
                checkDelivery($(this).val())
            })


            $('.payment-calculation').change(function(){
                checkPayment($(this).val())
            })

            checkDelivery($('.delivery-calculation').val())
            checkPayment($('.payment-calculation').val())

            if(window.location.href.split('#')[1] == 'full-form'){
                $('.full-form').show()
            }

            return true;
        });
    </script>
{% endblock %}

{% block basket-informer %}{% endblock %}