{% extends 'base.html' %}

{% block content %}

    <h2>Заказ успешно оформлен</h2>
    <blockquote>
    В ближайшее время с вами свяжется наш менеджер для уточнения деталей заказа
    </blockquote>
{% endblock %}