{% if path|length > 0 %}
    <div class="breadcrumb-container">
        <h1 class="container">
            <ul class="breadcrumb">
                <li><a href="/"><span class="glyphicon glyphicon-home"></span> главная</a> / </li>

                {% for item in path %}
                    {% if item.in_menu %}
                        <li>
                            {% if not forloop.last %}
                                <a href="{{ item.url }}">{{ item.title|safe }}</a>
                            {% else %}
                                <span>{{ item.title|safe }}</span>
                            {% endif %}
                            {% if not forloop.last %}/{% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </h1>
    </div>
{% endif %}