{% load xendor_tags %}

<a href="#" class="xs-catalog-header visible-xs-block">#Показать категории каталога</a>
<ul class="catalog-nav">

    {% for node in menu.nodes %}
        <li {% if node.active %}class="active"{% endif %}>
            <a href="{{ node.url }}" >{{ node.title|safe }}</a>

            {% if node.children %}
                {% level_menu node.children %}
            {% endif %}
        </li>
    {% endfor %}
</ul>