{% load xendor_tags %}

<ul class="list-unstyled footer-menu">
    {% for node in menu.nodes %}
    <li {% if node.active %}class="active"{% endif %}>

        {% if node.current %}
            <a href="{{ node.url }}" >{{ node.title|safe }}</a>
        {% else %}
            <a href="{{ node.url }}">{{ node.title|safe }}</a>
        {% endif %}
    </li>
    {% endfor %}
</ul>