{% load xendor_tags %}

<ul class="nav">
    <li class="xs-logo-header visible-xs-block"><a href="/">t-sport66.ru</a> <a href="#" class="top-menu-selector">#меню</a></li>
    {% for node in menu.nodes %}
    <li {% if node.active %}class="active"{% endif %}>

        {% if node.current %}
            <a href="{{ node.url }}" >{{ node.title|safe }}</a>
        {% else %}
            <a href="{{ node.url }}">{{ node.title|safe }}</a>
        {% endif %}

        {% if node.children %}
            {% level_menu node.children %}
        {% endif %}
    </li>
    {% endfor %}
</ul>
