{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}

    <h2>Добавление отзыва</h2>

    <form role="form" method="post" action="">
        {% csrf_token %}

        {% bootstrap_form form %}


        <button type="submit" class="btn add-to-cart">оставить отзыв</button>
    </form>

{% endblock %}