{% extends 'base.html' %}

{% block content %}

    <h2>Отзывы </h2>

    <a href="{% url 'response-add' %}" class="btn add-to-cart pull-right">оставить отзыв</a>

    <br class="clear"/>

    {% for item in object_list %}
        <div class="response">
            <em><span class="glyphicon glyphicon-hand-right"></span> {{ item.person }} ({{ item.created }})</em>

            <p>{{ item.text|safe }}</p>

            {% with item.get_products as products %}
                {% if products %}
                    <h3 class="text-right">Товар(ы):
                        {% for product in products %}
                            <a href="{{ product.get_absolute_url }}">{{ product }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </h3>
                {% endif %}
            {% endwith %}
            <blockquote>{{ item.answer }}</blockquote>
        </div>
        <div class="gap-20"></div>
    {% empty %}
        <blockquote>Пока отзывов не добавлено, будьте первым!</blockquote>
    {% endfor %}

    {{ paginator.render }}
{% endblock %}