{% load xendor_tags basket_tags %}


    <div class="container copyright">
        <div class="gap-5"></div>
        <div class="row hidden-xs">
            <div class="col-sm-5 col-md-4 col-lg-4">
                {% menu 'parent=xendor-page&footer-menu' 'menu/footer-menu.html' %}
            </div>

            <div class="col-sm-5 col-md-6 col-lg-6">
                <div class="phone"><span class="hidden-sm">телефоны:</span> {% fragment 'телефоны' %}</div>
                <div class="address"><span class="hidden-sm">адрес:</span> {% fragment 'адрес' %}</div>
            </div>

            <div class="col-sm-2 col-md-2 col-lg-2 text-right social">
                <span class="visible-lg-inline-block">Соц.сети: &nbsp;&nbsp;</span>
                <a href="{% fragment 'ссылка на fb' %}"><img src="{{ STATIC_URL }}img/fb.png" alt=""/></a>
                <a href="{% fragment 'ссылка на vk' %}"><img src="{{ STATIC_URL }}img/vk.png" alt=""/></a>
            </div>
        </div>

        <div class="gap-10 visible-sm-block visible-md-block visible-lg-block"></div>
        <div class="row copy hidden-xs">
            <div class="col-sm-10 col-md-8 col-lg-8">

                {% fragment 'копирайты' %}
            </div>
            <div class="col-sm-2 col-md-4 col-lg-4 text-right">
                <a href="http://sociogenetics.ru">
                    <img src="{{ STATIC_URL }}img/dev-white.png" alt="Разработчик" height="30px" style="margin-top: -10px"/>
                </a>
            </div>
        </div>

        <div class="visible-xs-block text-center">
            {% menu 'parent=xendor-page&footer-menu' 'menu/footer-menu.html' %}
            <br class="clear "/>
            <div class="gap-5"></div>
        </div>

        <div class=" social visible-xs-block text-left">
            T-sport66.ru:
            <a href="{% fragment 'ссылка на fb' %}"><img src="{{ STATIC_URL }}img/fb.png" alt=""/></a>
            <a href="{% fragment 'ссылка на vk' %}"><img src="{{ STATIC_URL }}img/vk.png" alt=""/></a>
        </div>
    </div>
</footer>