{% load xendor_tags %}
<header>
    <div class="container">
        <div class="row">
            <div class="hidden-xs hidden-sm col-md-3 col-lg-3">
                <div class="logo">
                    <a href="/">
                        <img src="{{ STATIC_URL }}/img/logo.png" alt=""/>
                    </a>
                    <div class="logo-lead">Интернет-магазин спортивных товаров.</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                <div class="menu">
                    {% menu "parent=MAIN" %}
                    <br class="clear  visible-md-block visible-lg-block" style="display: none">
                </div>

                <div class="gap-10 hidden-xs"></div>
                <div class="legend text-right">
                    <div class="logo-sm visible-sm-block">
                        <a href="/">
                            <img src="{{ STATIC_URL }}/img/logo.png" alt=""/>
                        </a>
                    </div>
                    <div class="hidden-xs">
                        <span class="visible-lg-inline-block visible-md-inline-block"><span class="small">Режим работы:</span> 10:00-20:00&nbsp;&nbsp;&nbsp;</span>
                        <span class="small">Горячая линия:</span> 8 (343) 319-40-69
                        <div class="callback"><a href="#callback" role="button" data-toggle="modal">Заказать звонок</a></div>
                    </div>
                    <div class="visible-xs-block text-left" style="display: none">
                        <div class="callback"><a href="#callback" role="button" data-toggle="modal">8 (343) 319-40-69</a></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>

