{% load xendor_tags %}

<meta charset="utf-8" />
<title>{% metatitle %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{% metadescription %}">
<meta name="keywords" content="{% keywords %}">
<meta name="author" content="sociogenetics.ru">

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<link href="{{ STATIC_URL }}css/ie.css" rel="stylesheet" type="text/css" />
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico">

<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
<link rel="stylesheet" href="{{ STATIC_URL }}js/jquery-ui-1.10.4.custom/css/custom-theme/jquery-ui-1.10.4.custom.min.css">
<link href="{{ STATIC_URL }}css/typography.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}css/structure.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}css/elements.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}js/perfect-scrollbar-0.4.10/src/perfect-scrollbar.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}js/lightbox/css/lightbox.css" rel="stylesheet" />

<link href="http://webfonts.ru/import/bebasneue.css" rel="stylesheet" type="text/css" />
<link href="http://webfonts.ru/import/clearsans.css" rel="stylesheet" type="text/css" />
<link href="http://webfonts.ru/import/fira.css" rel="stylesheet" type="text/css" />

{#<link href="{{ STATIC_URL }}css/bebasneue/bebasneue.css" rel="stylesheet" type="text/css" />#}
{#<link href="{{ STATIC_URL }}css/clearsans/clearsans.css" rel="stylesheet" type="text/css" />#}
{#<link href="{{ STATIC_URL }}css/fira/fira.css" rel="stylesheet" type="text/css" />#}


