<script src="{{ STATIC_URL }}js/jquery-1.11.0.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.jcarousel.min.js"></script>
<script src="{{ STATIC_URL }}js/perfect-scrollbar-0.4.10/src/jquery.mousewheel.js"></script>
<script src="{{ STATIC_URL }}js/perfect-scrollbar-0.4.10/src/perfect-scrollbar.js"></script>
<script src="{{ STATIC_URL }}js/jquery.cycle2.min.js"></script>
<script src="{{ STATIC_URL }}js/parallax-master/deploy/jquery.parallax.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.inputmask.bundle.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}js/project.js"></script>