{% load bootstrap3 %}

<div class="modal fade" id="callback" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h1>Заявка на обратный звонок</h1>
			</div>
			<form action="{% url 'callback-index' %}" method="post" enctype="multipart/form-data" style="margin-bottom: 0px;" class="form-vertical ajax-form">
				{% csrf_token %}
				<div class="modal-body">
					<div class="row">
						<div class="col-xs-12">

							{% csrf_token %}
                            {% bootstrap_form callback_form %}

                            <div class="control-group">
                                <label  class="control-label"></label>
                                <div class="controls">
                                    <button type="submit" class="btn add-to-cart">Отправить</button>
                                </div>
                            </div>
						</div>
					</div>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>
