{% if articles %}
    <div class="another-article">
        Также по теме:
        {% for item in articles %}
            <a href="{{ item.get_absolute_url }}">&laquo;{{ item.title|safe }}&raquo;</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </div>
    <div class="gap-10"></div>
{% endif %}