<div class="pull-right count-on-page">
    <a href="{% url 'catalog-change-paginate-by' '12' %}" {% if current == '12' %}class="active"{% endif %}>12</a>
    <a href="{% url 'catalog-change-paginate-by' '24' %}" {% if current == '24' %}class="active"{% endif %}>24</a>
    <a href="{% url 'catalog-change-paginate-by' '36' %}" {% if current == '36' %}class="active"{% endif %}>36</a>
    <a href="{% url 'catalog-change-paginate-by' 'all' %}" {% if current == 'all' %}class="active"{% endif %}>Все</a>
</div>