{% load xendor_tags %}

{% if popular %}
    <h2>Популярные категории каталога</h2>

    <div class="row">
        {% for category in popular %}
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <h3 class="hidden-xs hidden-sm ">{{ category.name }}</h3>

                <div class="catalog-main">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
                            <ul class="list-unstyled">
                                {% for item in category.categories.all %}
                                    <li><a href="{{ item.get_absolute_url }}">{{ item.name }}</a></li>
                                {% endfor %}

                            </ul>
                        </div>
                        <div class="hidden-xs hidden-sm col-md-5 col-lg-5">
                            <img src="{{ category.image|xthumbnail:'91;240;fix' }}" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:'3' %}
                </div>
                <div class="gap-20"></div>
                <div class="row">
            {% endif %}
        {% endfor %}

    </div>
{% endif %}