{% load xendor_tags %}

{% if products %}
<div class="gap-20"></div>
<div class="row">
    <div class="col-lg-12">
        <h2>Вместе с этим товаром также покупают</h2>
        <div class="special-catalog">
            <div class="row">
                {% for product in products %}
                    <div class="item col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <a href="{{ product.get_absolute_url }}">
                            <img src="{{ product.image|xthumbnail:'220;260;blank' }}" alt="{{ product.name }}"/>
                        </a>
                        <div class="price">
                            {% if product.old_price %}
                                <del>{{ product.old_price|x1000 }}</del>
                            {% endif %}
                            {{ product.price|x1000 }} р.</div>
                        <h3><a href="{{ product.get_absolute_url }}">{{ product.name|safe }}</a></h3>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="gap-10"></div>
{% endif %}