{% load xendor_tags %}

{% if result %}
<div class="row">
    <div class="col-lg-12">
        <h2>Спецпредложения</h2>
        <div class="special-catalog">
            <div class="row">
                {% for product in result %}
                    <div class="item col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <a href="{{ product.get_absolute_url }}">
                            <img src="{{ product.image|xthumbnail:'185;185;blank;fix' }}" alt="{{ product.name }}" class="hovered"/>
                        </a>
                        <div class="price"><del>{{ product.old_price|x1000 }}</del> {{ product.price|x1000 }} р.</div>
                        <h3><a href="{{ product.get_absolute_url }}">{{ product.name|safe }}</a></h3>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="gap-10"></div>
{% endif %}