{% extends 'base.html' %}
{% load xendor_tags %}

{% block content %}




            <div class="article">
                <h2>Кому подходит
                    занятие силовыми видами спорта?</h2>
                <img src="{{ STATIC_URL }}img/article.png" alt=""/>
                <p>

                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias amet animi architecto
                    aspernatur aut culpa cumque dolor earum ex libero, magnam minima molestias necessitatibus
                    perspiciatis reiciendis voluptate, voluptatem voluptates.</p>

                <p>Accusantium alias aliquid atque, dolor ducimus est ex expedita explicabo fugiat illo ipsa ipsam
                    maxime mollitia non odit officia quasi qui quia recusandae reiciendis rerum, saepe tenetur totam
                    voluptatem voluptates?</p>

                <p>A adipisci architecto assumenda cupiditate delectus dicta dolorem doloribus eaque eligendi eos,
                    facere fuga illum mollitia nam, necessitatibus officia quibusdam quidem quo reiciendis suscipit
                    tempore totam voluptatum? Commodi eum, quisquam.</p>

                <p>Жиросжигатели, или сжигатели жира - это вид спортивного питания или специальные препараты, которые
                    созданы для редукции лишних жировых отложений. Жиросжигатели способствуют снижению массы тела,
                    делают мышцы более рельефными, позволяют лучше концентрироваться на упражнениях и облегчают
                    тренировки. Основные механизмы действия жиросжигателей: стимуляция обмена веществ в организме,
                    подавление аппетита, снижение всасывания жиров и углеводов из пищеварительного тракта, блокирование
                    синтеза жира в жировой ткани и выведение лишней жидкости. Главным образом, жиросжигатели ускоряют
                    расщепление жировых молекул и превращают жир в свободную энергию, увеличивая ее расход.
                    Жиросжигатели предназначены для людей, которые занимаются спортом и хотят уменьшить содержание жира
                    в организме. Действие жиросжигателей реализуется во время тренировок при условии соблюдения диеты.
                    Если же потребление жиросжигателей не совмещать с тренировками и правильным питанием, то эффект
                    будет гораздо слабее, поэтому людям, ведущим малоподвижный образ жизни с дефектами питания,
                    применять их нет смысла.</p>

                <br class="clear"/>
                <div class="text-right all-news">
                    <a href="{% url 'article-index' %}" class="">Вернуться к списку статей &rarr;</a>
                </div>
            </div>
            <div class="gap-10"></div>

            <h2>Смотрите в нашем магазине</h2>
                <div class="special-catalog">
                    <div class="row">
                      <div class="col-lg-3">
                          <a href="#"><img src="{{ STATIC_URL }}img/item1.jpg" alt=""/></a>
                          <div class="price"> 30 990 р.</div>
                          <h3><a href="">Эллиптический тренажер Clear Fit Ride VR 30 Revolution</a></h3>
                      </div>
                      <div class="col-lg-3">
                          <a href="#"><img src="{{ STATIC_URL }}img/item2.jpg" alt=""/></a>
                          <div class="price"> 30 990 р.</div>
                          <h3><a href="">Беговая дорожка CARBON T404</a></h3>
                      </div>
                      <div class="col-lg-3">
                          <a href="#"><img src="{{ STATIC_URL }}img/item3.jpg" alt=""/></a>
                          <div class="price"> 30 990 р.</div>
                          <h3><a href="">Велотренажер OXYGEN PEAK U</a></h3>
                      </div>
                      <div class="col-lg-3">
                          <a href="#"><img src="{{ STATIC_URL }}img/item4.jpg" alt=""/></a>
                          <div class="price"> 30 990 р.</div>
                          <h3><a href="">Виброплатформа Clear Fit CF-PLATE Compact 101</a></h3>
                      </div>
                    </div>
                </div>



{% endblock %}

{% block promo-status %}closed{% endblock %}

{#{% block promo %}{% endblock %}#}