{% extends 'base.html' %}
{% load xendor_tags %}

{% block content %}





            <div class="article">
                <h2><a href="/footer-menu-publikacii-komu-podhodit-zanjatie-silovymi-vidami-sporta/">Кому подходит
                    занятие силовыми видами спорта?</a></h2>

                <p>
                    <img src="{{ STATIC_URL }}img/article.png" alt=""/>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias amet animi architecto
                    aspernatur aut culpa cumque dolor earum ex libero, magnam minima molestias necessitatibus
                    perspiciatis reiciendis voluptate, voluptatem voluptates.</p>

                <p>Accusantium alias aliquid atque, dolor ducimus est ex expedita explicabo fugiat illo ipsa ipsam
                    maxime mollitia non odit officia quasi qui quia recusandae reiciendis rerum, saepe tenetur totam
                    voluptatem voluptates?</p>

                <p>A adipisci architecto assumenda cupiditate delectus dicta dolorem doloribus eaque eligendi eos,
                    facere fuga illum mollitia nam, necessitatibus officia quibusdam quidem quo reiciendis suscipit
                    tempore totam voluptatum? Commodi eum, quisquam.</p>

                <br class="clear"/>
                <div class="text-right all-news">
                    <a href="#" class="">Читать далее &rarr;</a>
                </div>
            </div>
            <div class="gap-10"></div>

            <div class="article">
                <h2><a href="">Как правильно подобрать спортивное питание</a></h2>

                <p>
                    <img src="{{ STATIC_URL }}img/article.png" alt=""/>
                    Вы решили, принимать спортивное питание?  Тогда в первую очередь Вам надо определиться с тем, какого эффекта Вы хотите достичь.
                    Если Вы ставите перед собой задачу сбросить лишний вес, то Вам надо учесть тот факт, что только вместе
                    со спортивным питанием Вашему организму необходимо будет получать на протяжении нескольких суток все
                    питательные вещества и микроэлементы.
                    Поэтому выбирать надо с уверенностью в том, что питание содержит все, что необходимо для полноценного функционирования организма.</p>

                <br class="clear"/>
                <div class="text-right all-news">
                    <a href="#" class="">Читать далее &rarr;</a>
                </div>
            </div>
            <div class="gap-10"></div>

            <div class="article">
                <h2><a href="">Спортивное питание - побочные действия.</a></h2>

                <p>
                    <img src="{{ STATIC_URL }}img/article.png" alt=""/>
                    Жиросжигатели на определенном этапе тренировок необходимы любому спортсмену. Задача сжигателя жира –
                    как можно быстрее избавить организм от излишних запасов жировых отложений.
                    При этом в организме спортсмена происходит масса положительных изменений. </p>
                <br class="clear"/>
                <div class="text-right all-news">
                    <a href="#" class="">Читать далее &rarr;</a>
                </div>
            </div>
            <div class="gap-10"></div>

            <div class="article">
                <h2><a href="">Жиросжигатели</a></h2>

                <p>
                    <img src="{{ STATIC_URL }}img/article.png" alt=""/>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias amet animi architecto
                    aspernatur aut culpa cumque dolor earum ex libero, magnam minima molestias necessitatibus
                    perspiciatis reiciendis voluptate, voluptatem voluptates.</p>

                <p>Accusantium alias aliquid atque, dolor ducimus est ex expedita explicabo fugiat illo ipsa ipsam
                    maxime mollitia non odit officia quasi qui quia recusandae reiciendis rerum, saepe tenetur totam
                    voluptatem voluptates?</p>

                <p>A adipisci architecto assumenda cupiditate delectus dicta dolorem doloribus eaque eligendi eos,
                    facere fuga illum mollitia nam, necessitatibus officia quibusdam quidem quo reiciendis suscipit
                    tempore totam voluptatum? Commodi eum, quisquam.</p>

                <br class="clear"/>
                <div class="text-right all-news">
                    <a href="#" class="">Читать далее &rarr;</a>
                </div>
            </div>
            <div class="gap-10"></div>

            <div class="article">
                <h2><a href="">Спортивное питание - побочные действия.</a></h2>

                <p>
                    <img src="{{ STATIC_URL }}img/article.png" alt=""/>
                    Жиросжигатели на определенном этапе тренировок необходимы любому спортсмену. Задача сжигателя жира –
                    как можно быстрее избавить организм от излишних запасов жировых отложений.
                    При этом в организме спортсмена происходит масса положительных изменений. </p>
                <br class="clear"/>
                <div class="text-right all-news">
                    <a href="#" class="">Читать далее &rarr;</a>
                </div>
            </div>
            <div class="gap-10"></div>

            <div class="article">
                <h2><a href="">Жиросжигатели</a></h2>

                <p>
                    <img src="{{ STATIC_URL }}img/article.png" alt=""/>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias amet animi architecto
                    aspernatur aut culpa cumque dolor earum ex libero, magnam minima molestias necessitatibus
                    perspiciatis reiciendis voluptate, voluptatem voluptates.</p>

                <p>Accusantium alias aliquid atque, dolor ducimus est ex expedita explicabo fugiat illo ipsa ipsam
                    maxime mollitia non odit officia quasi qui quia recusandae reiciendis rerum, saepe tenetur totam
                    voluptatem voluptates?</p>

                <p>A adipisci architecto assumenda cupiditate delectus dicta dolorem doloribus eaque eligendi eos,
                    facere fuga illum mollitia nam, necessitatibus officia quibusdam quidem quo reiciendis suscipit
                    tempore totam voluptatum? Commodi eum, quisquam.</p>

                <br class="clear"/>
                <div class="text-right all-news">
                    <a href="#" class="">Читать далее &rarr;</a>
                </div>
            </div>
            <div class="gap-20"></div>


            <ul class="pagination">
              <li><a href="#">&laquo;</a></li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">&raquo;</a></li>
            </ul>

           


{% endblock %}

{% block promo-status %}closed{% endblock %}

{#{% block promo %}{% endblock %}#}