{% extends 'base.html' %}
{% load xendor_tags %}

{% block content %}

            <div class="row">
                <div class="col-lg-12">
                    <h2>Спецпредложения</h2>
                    <div class="special-catalog">
                        <div class="row">
                          <div class="col-lg-3">
                              <a href="#"><img src="{{ STATIC_URL }}img/item1.jpg" alt=""/></a>
                              <div class="price"><del>35 990</del> 30 990 р.</div>
                              <h3><a href="">Эллиптический тренажер Clear Fit Ride VR 30 Revolution</a></h3>
                          </div>
                          <div class="col-lg-3">
                              <a href="#"><img src="{{ STATIC_URL }}img/item2.jpg" alt=""/></a>
                              <div class="price"><del>35 990</del> 30 990 р.</div>
                              <h3><a href="">Беговая дорожка CARBON T404</a></h3>
                          </div>
                          <div class="col-lg-3">
                              <a href="#"><img src="{{ STATIC_URL }}img/item3.jpg" alt=""/></a>
                              <div class="price"><del>35 990</del> 30 990 р.</div>
                              <h3><a href="">Велотренажер OXYGEN PEAK U</a></h3>
                          </div>
                          <div class="col-lg-3">
                              <a href="#"><img src="{{ STATIC_URL }}img/item4.jpg" alt=""/></a>
                              <div class="price"><del>35 990</del> 30 990 р.</div>
                              <h3><a href="">Виброплатформа Clear Fit CF-PLATE Compact 101</a></h3>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap-10"></div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="article">
                        <h2>Кому подходит занятие силовыми видами спорта?</h2>

                        <p>
                            <img src="{{ STATIC_URL }}img/article.png" alt=""/>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias amet animi architecto
                            aspernatur aut culpa cumque dolor earum ex libero, magnam minima molestias necessitatibus
                            perspiciatis reiciendis voluptate, voluptatem voluptates.</p>

                        <p>Accusantium alias aliquid atque, dolor ducimus est ex expedita explicabo fugiat illo ipsa ipsam
                            maxime mollitia non odit officia quasi qui quia recusandae reiciendis rerum, saepe tenetur totam
                            voluptatem voluptates?</p>

                        <p>A adipisci architecto assumenda cupiditate delectus dicta dolorem doloribus eaque eligendi eos,
                            facere fuga illum mollitia nam, necessitatibus officia quibusdam quidem quo reiciendis suscipit
                            tempore totam voluptatum? Commodi eum, quisquam.</p>

                        <div class="text-right all-news">
                            <a href="#" class="">Читать далее &rarr;</a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="gap-10"></div>

            <div class="row">
                <div class="col-lg-12 catalog-category">

                    <h2>Товары</h2>
                    <div class="row">
                        <div class="col-lg-6">
                            <a href="/silovoj-sport/trenazhery-so-svobodnymi-vesami/"><img src="{{ STATIC_URL }}img/subcat1.jpg" alt=""/></a>
                            <h3><a href="/silovoj-sport/trenazhery-so-svobodnymi-vesami/">Тренажеры для мыщц спины, груди, ног</a></h3>
                        </div>
                        <div class="col-lg-6">
                            <a href="/silovoj-sport/trenazhery-so-svobodnymi-vesami/"><img src="{{ STATIC_URL }}img/subcat2.jpg" alt=""/></a>
                            <h3><a href="/silovoj-sport/trenazhery-so-svobodnymi-vesami/">Гиперэкстензии и римские стулья</a></h3>
                        </div>
                    </div>
                    <div class="gap-30"></div>

                    <div class="row">
                        <div class="col-lg-6">
                            <a href="/silovoj-sport/trenazhery-so-svobodnymi-vesami/"><img src="{{ STATIC_URL }}img/subcat3.jpg" alt=""/></a>
                            <h3><a href="/silovoj-sport/trenazhery-so-svobodnymi-vesami/">Грифы, замки для штанги</a></h3>
                        </div>
                        <div class="col-lg-6">
                            <a href="/silovoj-sport/trenazhery-so-svobodnymi-vesami/"><img src="{{ STATIC_URL }}img/subcat5.jpg" alt=""/></a>
                            <h3><a href="/silovoj-sport/trenazhery-so-svobodnymi-vesami/">Тренажеры для мыщц спины, груди, ног</a></h3>
                        </div>
                    </div>
                    <div class="gap-30"></div>

                    <div class="row">
                        <div class="col-lg-6">
                            <a href="/silovoj-sport/trenazhery-so-svobodnymi-vesami/"><img src="{{ STATIC_URL }}img/subcat1.jpg" alt=""/></a>
                            <h3><a href="/silovoj-sport/trenazhery-so-svobodnymi-vesami/">Тренажеры для пресса</a></h3>
                        </div>

                        <div class="col-lg-6">
                            <a href="/silovoj-sport/trenazhery-so-svobodnymi-vesami/"><img src="{{ STATIC_URL }}img/subcat3.jpg" alt=""/></a>
                            <h3><a href="/silovoj-sport/trenazhery-so-svobodnymi-vesami/">Грифы, замки для штанги</a></h3>
                        </div>

                    </div>

                </div>

            </div>

            <div class="gap-10"></div>

{% endblock %}

{% block promo-status %}closed{% endblock %}

{#{% block promo %}{% endblock %}#}