{% extends 'base.html' %}
{% load xendor_tags %}

{% block content %}


    <div class="row">
        <div class="col-lg-3">
            <h2>Каталог товаров</h2>

            <div class="row">
                <div class="col-lg-12">
                    <form action="" class="search-form">
                        <input type="text" placeholder="Поиск по товарам"/>
                        <button type="submit"><span class="glyphicon glyphicon-search"></span></button>
                    </form>
                </div>
            </div>

            <div class="gap-20"></div>

            <ul class=" catalog-nav">
                <li><a href="/silovoj-sport/">Зимние виды спорта</a></li>
                <li><a href="/silovoj-sport/">Спортивные тренажеры</a></li>
                <li>
                    <a href="/silovoj-sport/">Силовой спорт</a>
                </li>
                <li><a href="/silovoj-sport/">Спортивное питание</a></li>
                <li><a href="#">Велосипеды </a></li>
                <li><a href="#">Для активного отдыха и туризма </a></li>
                <li><a href="#">Для детей </a></li>
                <li><a href="#">Товары для гимнастики и фитнеса </a></li>
                <li><a href="#">Товары для Йоги </a></li>
                <li><a href="#">Турники </a></li>
                <li><a href="#">Батуты </a></li>
                <li><a href="#">Настольный теннис </a></li>
                <li><a href="#">Мячи </a></li>
                <li><a href="#">Товары для футбола </a></li>
                <li><a href="#">Товары для баскетбола </a></li>
                <li><a href="#">Товары для волейбола </a></li>
                <li><a href="#">Бокс и Единоборства</a></li>
                <li><a href="#">Бассейны для дачи</a></li>
                <li><a href="#">Надувная мебель</a></li>
                <li><a href="#">Аксессуары</a></li>
                <li><a href="#">Летние виды спорта</a></li>
                <li><a href="#">Новогодние ёлки</a></li>
            </ul>

            <div class="gap-20"></div>

            <h2>Мы в соц.сетях</h2>
            <div class="row">
                <div class="col-lg-12 banner">
                    <img src="{{ STATIC_URL }}/img/vidjet_vk.jpg" alt=""/>
                </div>
            </div>

            <div class="gap-20"></div>
            <div class="row">
                <div class="col-lg-12 banner">
                    <img src="{{ STATIC_URL }}/img/widget-fb.png" alt=""/>
                </div>
            </div>

            <div class="gap-10"></div>
        </div>

        <div class="col-lg-9">

            <div class="row">
                <div class="col-lg-12">
                    <div class="gap-10"></div>
                    <table class="table comparison">
                        <thead>
                            <tr>
                                <th>
                                    <a href=""><span class="glyphicon glyphicon-remove"></span> Удалить</a>
                                </th>
                                <th>
                                    <a href=""><span class="glyphicon glyphicon-remove"></span> Удалить</a>
                                </th>
                                <th>
                                    <a href=""><span class="glyphicon glyphicon-remove"></span> Удалить</a>
                                </th>
                                <th>
                                    <a href=""><span class="glyphicon glyphicon-remove"></span> Удалить</a>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <h3><a href="">Велосипед трехколесный Smart-Trike Cookie</a></h3>
                                </th>
                                <th>
                                    <h3><a href="">Велосипед трехколесный Smart-Trike Cookie</a></h3>
                                </th>
                                <th>
                                    <h3><a href="">Велосипед трехколесный Smart-Trike Cookie</a></h3>
                                </th>
                                <th>
                                    <h3><a href="">Велосипед трехколесный Smart-Trike Cookie</a></h3>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="4" class="title">Цена</td>
                            </tr>
                            <tr>
                                <td class="item-price">2 600 руб.</td>
                                <td class="item-price">2 600 руб.</td>
                                <td class="item-price">2 600 руб.</td>
                                <td class="item-price">2 600 руб.</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="title">Изображение</td>
                            </tr>
                            <tr>
                                <td><img src="{{ STATIC_URL }}/img/product1.jpg" alt=""/></td>
                                <td><img src="{{ STATIC_URL }}/img/product1.jpg" alt=""/></td>
                                <td><img src="{{ STATIC_URL }}/img/product1.jpg" alt=""/></td>
                                <td><img src="{{ STATIC_URL }}/img/product1.jpg" alt=""/></td>
                            </tr>

                            <tr>
                                <td colspan="4" class="title">Размер рамы</td>
                            </tr>
                            <tr>
                                <td>XS (small)</td>
                                <td>XS (small)</td>
                                <td>XS (small)</td>
                                <td>XS (small)</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="title">Тип</td>
                            </tr>
                            <tr>
                                <td>Прогулочный</td>
                                <td>Прогулочный</td>
                                <td>Прогулочный</td>
                                <td>Прогулочный</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="title">Количество скоростей</td>
                            </tr>
                            <tr>
                                <td>17 скоростей</td>
                                <td>17 скоростей</td>
                                <td>17 скоростей</td>
                                <td>17 скоростей</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="title">Описание</td>
                            </tr>
                            <tr>
                                <td>
                                    <p> Одна из популярных моделей Smart-Trike Cookie 3-в-1 развивается и растет вместе с Вашим малышом.
                            Из велосипеда-коляски для 10-ти месячных малышей, управляемого родителями, эта модель может превратиться в
                            полноценный самостоятельный велосипед, когда малышу исполнится больше двух лет.</p>
                                </td>
                                <td>
                                    <p> Одна из популярных моделей Smart-Trike Cookie 3-в-1 развивается и растет вместе с Вашим малышом.
                            Из велосипеда-коляски для 10-ти месячных малышей, управляемого родителями, эта модель может превратиться в
                            полноценный самостоятельный велосипед, когда малышу исполнится больше двух лет.</p>
                                </td>
                                <td>
                                    <p> Одна из популярных моделей Smart-Trike Cookie 3-в-1 развивается и растет вместе с Вашим малышом.
                            Из велосипеда-коляски для 10-ти месячных малышей, управляемого родителями, эта модель может превратиться в
                            полноценный самостоятельный велосипед, когда малышу исполнится больше двух лет.</p>
                                </td>
                                <td>
                                    <p> Одна из популярных моделей Smart-Trike Cookie 3-в-1 развивается и растет вместе с Вашим малышом.
                            Из велосипеда-коляски для 10-ти месячных малышей, управляемого родителями, эта модель может превратиться в
                            полноценный самостоятельный велосипед, когда малышу исполнится больше двух лет.</p>
                                </td>
                            </tr>
                            <tfoot>
                                <tr>
                                    <th>
                                        <a href="" class="btn add-to-cart"><span class="glyphicon glyphicon-shopping-cart"></span> Купить</a>
                                    </th>
                                    <th>
                                        <a href="" class="btn add-to-cart"><span class="glyphicon glyphicon-shopping-cart"></span> Купить</a>
                                    </th>
                                    <th>
                                        <a href="" class="btn add-to-cart"><span class="glyphicon glyphicon-shopping-cart"></span> Купить</a>
                                    </th>
                                    <th>
                                        <a href="" class="btn add-to-cart"><span class="glyphicon glyphicon-shopping-cart"></span> Купить</a>
                                    </th>
                                </tr>
                            </tfoot>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block promo-status %}closed{% endblock %}

{#{% block promo %}{% endblock %}#}