{% extends 'base.html' %}
{% load xendor_tags %}

{% block content %}


    <div class="row">
        <div class="col-lg-3">
            <h2>Каталог товаров</h2>

            <div class="row">
                <div class="col-lg-12">
                    <form action="" class="search-form">
                        <input type="text" placeholder="Поиск по товарам"/>
                        <button type="submit"><span class="glyphicon glyphicon-search"></span></button>
                    </form>
                </div>
            </div>

            <div class="gap-20"></div>

            <ul class=" catalog-nav">
                <li><a href="/silovoj-sport/">Зимние виды спорта</a></li>
                <li><a href="/silovoj-sport/">Спортивные тренажеры</a></li>
                <li>
                    <a href="/silovoj-sport/">Силовой спорт</a>
                </li>
                <li><a href="/silovoj-sport/">Спортивное питание</a></li>
                <li><a href="#">Велосипеды </a></li>
                <li><a href="#">Для активного отдыха и туризма </a></li>
                <li><a href="#">Для детей </a></li>
                <li><a href="#">Товары для гимнастики и фитнеса </a></li>
                <li><a href="#">Товары для Йоги </a></li>
                <li><a href="#">Турники </a></li>
                <li><a href="#">Батуты </a></li>
                <li><a href="#">Настольный теннис </a></li>
                <li><a href="#">Мячи </a></li>
                <li><a href="#">Товары для футбола </a></li>
                <li><a href="#">Товары для баскетбола </a></li>
                <li><a href="#">Товары для волейбола </a></li>
                <li><a href="#">Бокс и Единоборства</a></li>
                <li><a href="#">Бассейны для дачи</a></li>
                <li><a href="#">Надувная мебель</a></li>
                <li><a href="#">Аксессуары</a></li>
                <li><a href="#">Летние виды спорта</a></li>
                <li><a href="#">Новогодние ёлки</a></li>
            </ul>

            <div class="gap-20"></div>

            <h2>Мы в соц.сетях</h2>
            <div class="row">
                <div class="col-lg-12 banner">
                    <img src="{{ STATIC_URL }}/img/vidjet_vk.jpg" alt=""/>
                </div>
            </div>

            <div class="gap-20"></div>
            <div class="row">
                <div class="col-lg-12 banner">
                    <img src="{{ STATIC_URL }}/img/widget-fb.png" alt=""/>
                </div>
            </div>

            <div class="gap-10"></div>
        </div>

        <div class="col-lg-9">
            {{ page.content|safe }}

        </div>

    </div>

{% endblock %}

{% block promo-status %}closed{% endblock %}

{#{% block promo %}{% endblock %}#}