{% extends 'base.html' %}
{% load xendor_tags %}

{% block content %}

    <div class="row">
        <div class="col-lg-3">
            <h2>Каталог товаров</h2>

            <div class="row">
                <div class="col-lg-12">
                    <form action="" class="search-form">
                        <input type="text" placeholder="Поиск по товарам"/>
                        <button type="submit"><span class="glyphicon glyphicon-search"></span></button>
                    </form>
                </div>
            </div>

            <div class="gap-20"></div>

            <ul class=" catalog-nav">
                <li><a href="/silovoj-sport/">Зимние виды спорта</a></li>
                <li><a href="/silovoj-sport/">Спортивные тренажеры</a></li>
                <li><a href="/silovoj-sport/">Силовой спорт</a></li>
                <li><a href="/silovoj-sport/">Спортивное питание</a></li>
                <li><a href="/silovoj-sport/">Велосипеды </a></li>
                <li><a href="/silovoj-sport/">Для активного отдыха и туризма </a></li>
                <li><a href="/silovoj-sport/">Для детей </a></li>
                <li><a href="#">Товары для гимнастики и фитнеса </a></li>
                <li><a href="#">Товары для Йоги </a></li>
                <li><a href="#">Турники </a></li>
                <li><a href="#">Батуты </a></li>
                <li><a href="#">Настольный теннис </a></li>
                <li><a href="#">Мячи </a></li>
                <li><a href="#">Товары для футбола </a></li>
                <li><a href="#">Товары для баскетбола </a></li>
                <li><a href="#">Товары для волейбола </a></li>
                <li><a href="#">Бокс и Единоборства</a></li>
                <li><a href="#">Бассейны для дачи</a></li>
                <li><a href="#">Надувная мебель</a></li>
                <li><a href="#">Аксессуары</a></li>
                <li><a href="#">Летние виды спорта</a></li>
                <li><a href="#">Новогодние ёлки</a></li>
            </ul>


            <div class="gap-20"></div>
            <div class="row">
                <div class="col-lg-12 banner">
                    <a href="#"><img src="{{ STATIC_URL }}img/banner3.jpg" alt=""/></a>
                </div>
            </div>

            <div class="gap-10"></div>
            <h2>Мы в соц.сетях</h2>
            <div class="row">
                <div class="col-lg-12 banner">
                    <img src="{{ STATIC_URL }}/img/vidjet_vk.jpg" alt=""/>
                </div>
            </div>

            <div class="gap-20"></div>
            <div class="row">
                <div class="col-lg-12 banner">
                    <img src="{{ STATIC_URL }}/img/widget-fb.png" alt=""/>
                </div>
            </div>

            <div class="gap-10"></div>
        </div>

        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Спецпредложения</h2>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                      <li class="active"><a href="#home" data-toggle="tab">Силовой спорт</a></li>
                      <li><a href="#profile" data-toggle="tab">Спортивное питание</a></li>
                      <li><a href="#messages" data-toggle="tab">Детские спортивные комплексы</a></li>
                      <li><a href="#settings" data-toggle="tab">Бассейны для дач</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content special">
                      <div class="tab-pane fade in active" id="home">
                          <div class="row">
                              <div class="col-lg-3">
                                  <a href="#"><img src="{{ STATIC_URL }}img/item1.jpg" alt=""/></a>
                                  <div class="price"><del>35 990</del> 30 990 р.</div>
                                  <h3><a href="">Эллиптический тренажер Clear Fit Ride VR 30 Revolution</a></h3>
                              </div>
                              <div class="col-lg-3">
                                  <a href="#"><img src="{{ STATIC_URL }}img/item2.jpg" alt=""/></a>
                                  <div class="price"><del>35 990</del> 30 990 р.</div>
                                  <h3><a href="">Беговая дорожка CARBON T404</a></h3>
                              </div>
                              <div class="col-lg-3">
                                  <a href="#"><img src="{{ STATIC_URL }}img/item3.jpg" alt=""/></a>
                                  <div class="price"><del>35 990</del> 30 990 р.</div>
                                  <h3><a href="">Велотренажер OXYGEN PEAK U</a></h3>
                              </div>
                              <div class="col-lg-3">
                                  <a href="#"><img src="{{ STATIC_URL }}img/item4.jpg" alt=""/></a>
                                  <div class="price"><del>35 990</del> 30 990 р.</div>
                                  <h3><a href="">Виброплатформа Clear Fit CF-PLATE Compact 101</a></h3>
                              </div>
                          </div>
                      </div>
                      <div class="tab-pane fade" id="profile">...</div>
                      <div class="tab-pane fade" id="messages">...</div>
                      <div class="tab-pane fade" id="settings">...</div>
                    </div>
                </div>
            </div>
            <div class="gap-10"></div>

            <div class="row">
                <div class="col-lg-9">
                    <h2>Новинки</h2>
                    <div class="new-item">
                        <div class="row">
                            <div class="col-lg-10">
                                <h3><a href="#">Велосипед Stels Navigator 770 Disc</a></h3>
                            </div>
                        </div>
                        <div class="gap-10"></div>

                        <div class="row">

                            <div class="col-lg-4">
                                <a href="#"><img src="{{ STATIC_URL }}img/velo1.jpg" alt=""/></a>
                            </div>
                            <div class="col-lg-8">

                                <div class="in-stock">
                                    <span class="glyphicon glyphicon-ok"></span> На складе
                                </div>


                                <p>Отличный велосипед с гидравлическими дисковыми тормозами. Отличительной особенностью
                                    гидравлической тормозной системы является мгновенный отклик на нажатие тормозного рычага
                                    и исключительная эффективность тормозной системы в целом.</p>

                                <hr>

                                <a href="" class="btn add-to-cart"><span class="glyphicon glyphicon-shopping-cart"></span> Купить</a>

                                <a href="" class=" add-to-comparison pull-right">
                                    <span class="glyphicon glyphicon-stats"></span>
                                    Сравнить</a>
                            </div>
                        </div>
                        <div class="price">30 990 р.</div>
                    </div>
                    <div class="gap-20"></div>

                    <div class="new-item">
                        <div class="row">
                            <div class="col-lg-10">
                                <h3><a href="#">Велосипед Cube 14 AERIUM HPA PRO Велосипед Cube 14 AERIUM HPA PRO</a></h3>
                            </div>
                        </div>
                        <div class="gap-10"></div>

                        <div class="row">

                            <div class="col-lg-4">
                                <a href="#"><img src="{{ STATIC_URL }}img/velo2.jpg" alt=""/></a>
                            </div>
                            <div class="col-lg-8">


                                <div class="in-stock"><span class="glyphicon glyphicon-time"></span> Под заказ</div>

                                <p>Надежность, престиж и высокое качество - отличительные черты велосипедов Cube.
 Cube принципиально не производит дешевые велосипеды, зато купив даже самую начальную модель, Вы будет владеть абсолютно надежным и проработанным на 100% байком!
Хотите чувствовать себя уверенно в потоке велобратьев? CUBE - Ваш выбор!</p>

                                <hr>

                                <a href="" class="btn add-to-cart"><span class="glyphicon glyphicon-shopping-cart"></span> Купить</a>

                                <a href="" class=" go-to-comparison pull-right">
                                    Перейти к сравнению <span class="glyphicon glyphicon-arrow-right"></span>
                                </a>
                            </div>
                        </div>
                        <div class="price">85 900 р.</div>
                    </div>
                    <div class="gap-20"></div>

                    <div class="new-item">
                        <div class="row">
                            <div class="col-lg-10">
                                <h3><a href="#">Велосипед Mtr Bella 26 GW-B223B</a></h3>
                            </div>
                        </div>
                        <div class="gap-10"></div>
                        <div class="row">

                            <div class="col-lg-4">
                                <a href="#"><img src="{{ STATIC_URL }}img/velo3.jpg" alt=""/></a>
                            </div>
                            <div class="col-lg-8">

                                <div class="in-stock"><span class="glyphicon glyphicon-ok"></span> На складе</div>

                                <p>Женственный велосипед для отдыха и спорта. На нем Вы можете спокойно отправиться в дальнее путешествие,
                                    либо на короткую прогулку по городу. Красивый, надежный, удобный велосипед, что еще нужно?</p>

                                <hr>

                                <a href="" class="btn add-to-cart"><span class="glyphicon glyphicon-shopping-cart"></span> Купить</a>

                                <a href="" class=" add-to-comparison pull-right">
                                    <span class="glyphicon glyphicon-stats"></span>
                                     Сравнить
                                </a>


                            </div>
                        </div>
                        <div class="price">7 900 р.</div>
                    </div>

                </div>
                <div class="col-lg-3">
                    <h2>Новости</h2>

                    <em>22-05-2013</em>
                    <h3><a href="#">Оплата пластиковыми картами</a></h3>
                    <div class="gap-10"></div>

                    <em>22-05-2013</em>
                    <h3><a href="#">Скидки до 400 рублей на снегокаты</a></h3>
                    <div class="gap-10"></div>

                    <em>22-05-2013</em>
                    <h3><a href="#">Компания T-Sport начала продажу тренажеров ПРЕМИУМ-класса</a></h3>

                    <div class="text-right all-news">
                        <a href="#" class="">Все новости &rarr;</a>
                    </div>
                    <div class="gap-20"></div>

                    <div class="row">
                        <div class="col-lg-12 banner">
                            <a href="#"><img src="{{ STATIC_URL }}img/banner.gif" alt=""/></a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="gap-10"></div>
            <h2>Популярные категории каталога</h2>

            <div class="row">
                <div class="col-lg-4">
                    <h3>Зимние виды спорта</h3>

                    <div class="catalog-main">
                        <div class="row">
                            <div class="col-lg-7">
                                <ul class="list-unstyled">
                                    <li><a href="">Хоккей</a></li>
                                    <li><a href="">Лыжный спорт</a></li>
                                    <li><a href="">Снегокаты, бублики</a></li>
                                    <li><a href="">Сноубординг</a></li>
                                    <li><a href="">Горные лыжи</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-5"><img src="{{ STATIC_URL }}img/cat-main.jpg" alt=""/></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <h3>Туризм</h3>

                    <div class="catalog-main">
                        <div class="row">
                            <div class="col-lg-7">
                                <ul class="list-unstyled">
                                    <li><a href="">Для кемпинга</a></li>
                                    <li><a href="">Охота и рыбалка</a></li>
                                    <li><a href="">Газовое оборудование</a></li>
                                    <li><a href="">Мангалы, коптильни</a></li>
                                    <li><a href="">Катамараны</a></li>
                                    <li><a href="">Рюкзаки</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-5"><img src="{{ STATIC_URL }}img/cat-main2.jpg" alt=""/></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <h3>Спортивное питание</h3>

                    <div class="catalog-main">
                        <div class="row">
                            <div class="col-lg-7">
                                <ul class="list-unstyled">
                                    <li><a href="">Аминокислоты</a></li>
                                    <li><a href="">Энергетики</a></li>
                                    <li><a href="">Витамины</a></li>
                                    <li><a href="">Наращивание мышц</a></li>
                                    <li><a href="">Женская линия</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-5"><img src="{{ STATIC_URL }}img/cat-main3.jpg" alt=""/></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap-20"></div>
            <div class="row">
                <div class="col-lg-4">
                    <h3>Зимние виды спорта</h3>

                    <div class="catalog-main">
                        <div class="row">
                            <div class="col-lg-7">
                                <ul class="list-unstyled">
                                    <li><a href="">Хоккей</a></li>
                                    <li><a href="">Лыжный спорт</a></li>
                                    <li><a href="">Снегокаты, бублики</a></li>
                                    <li><a href="">Сноубординг</a></li>
                                    <li><a href="">Горные лыжи</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-5"><img src="{{ STATIC_URL }}img/cat-main.jpg" alt=""/></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <h3>Туризм</h3>

                    <div class="catalog-main">
                        <div class="row">
                            <div class="col-lg-7">
                                <ul class="list-unstyled">
                                    <li><a href="">Для кемпинга</a></li>
                                    <li><a href="">Охота и рыбалка</a></li>
                                    <li><a href="">Газовое оборудование</a></li>
                                    <li><a href="">Мангалы, коптильни</a></li>
                                    <li><a href="">Катамараны</a></li>
                                    <li><a href="">Рюкзаки</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-5"><img src="{{ STATIC_URL }}img/cat-main2.jpg" alt=""/></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <h3>Спортивное питание</h3>

                    <div class="catalog-main">
                        <div class="row">
                            <div class="col-lg-7">
                                <ul class="list-unstyled">
                                    <li><a href="">Аминокислоты</a></li>
                                    <li><a href="">Энергетики</a></li>
                                    <li><a href="">Витамины</a></li>
                                    <li><a href="">Наращивание мышц</a></li>
                                    <li><a href="">Женская линия</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-5"><img src="{{ STATIC_URL }}img/cat-main3.jpg" alt=""/></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap-20"></div>
            <div class="row">
                <div class="col-lg-4">
                    <h3>Зимние виды спорта</h3>

                    <div class="catalog-main">
                        <div class="row">
                            <div class="col-lg-7">
                                <ul class="list-unstyled">
                                    <li><a href="">Хоккей</a></li>
                                    <li><a href="">Лыжный спорт</a></li>
                                    <li><a href="">Снегокаты, бублики</a></li>
                                    <li><a href="">Сноубординг</a></li>
                                    <li><a href="">Горные лыжи</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-5"><img src="{{ STATIC_URL }}img/cat-main.jpg" alt=""/></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <h3>Туризм</h3>

                    <div class="catalog-main">
                        <div class="row">
                            <div class="col-lg-7">
                                <ul class="list-unstyled">
                                    <li><a href="">Для кемпинга</a></li>
                                    <li><a href="">Охота и рыбалка</a></li>
                                    <li><a href="">Газовое оборудование</a></li>
                                    <li><a href="">Мангалы, коптильни</a></li>
                                    <li><a href="">Катамараны</a></li>
                                    <li><a href="">Рюкзаки</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-5"><img src="{{ STATIC_URL }}img/cat-main2.jpg" alt=""/></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <h3>Спортивное питание</h3>

                    <div class="catalog-main">
                        <div class="row">
                            <div class="col-lg-7">
                                <ul class="list-unstyled">
                                    <li><a href="">Аминокислоты</a></li>
                                    <li><a href="">Энергетики</a></li>
                                    <li><a href="">Витамины</a></li>
                                    <li><a href="">Наращивание мышц</a></li>
                                    <li><a href="">Женская линия</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-5"><img src="{{ STATIC_URL }}img/cat-main3.jpg" alt=""/></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap-20"></div>
            <div class="row">
                <div class="col-lg-12">
                    <h2>Почему выбирают нас?</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore ducimus error exercitationem
                        ipsam iste magni maiores maxime minus numquam saepe sunt, tempora voluptate. Aspernatur aut
                        facere ipsa labore porro tempora!</p>

                    <p>Cupiditate deleniti, ex fuga illum maxime minima nostrum rerum sit ut voluptatem. Adipisci
                        asperiores at atque earum et exercitationem, fugit ipsa, itaque maxime minima pariatur sequi
                        similique temporibus, vero voluptatum?</p>

                    <p>Aliquam culpa cum reiciendis. Ab at consectetur deleniti iure molestias nostrum, nulla obcaecati
                        quis repellat voluptatum. At consequuntur dolore eius nam repellat! Autem delectus doloremque
                        magni, nesciunt pariatur repudiandae saepe.</p>
                </div>
            </div>
            <div class="gap-20"></div>

        </div>

    </div>

{% endblock %}