{% extends 'base.html' %}
{% load xendor_tags %}

{% block content %}


    <div class="row">
        <div class="col-lg-3">
            <h2>Каталог товаров</h2>

            <div class="row">
                <div class="col-lg-12">
                    <form action="" class="search-form">
                        <input type="text" placeholder="Поиск по товарам"/>
                        <button type="submit"><span class="glyphicon glyphicon-search"></span></button>
                    </form>
                </div>
            </div>

            <div class="gap-20"></div>

            <ul class=" catalog-nav">
                <li><a href="/silovoj-sport/">Зимние виды спорта</a></li>
                <li><a href="/silovoj-sport/">Спортивные тренажеры</a></li>
                <li class="active">
                    <a href="/silovoj-sport/">Силовой спорт</a>
                    <ul>
                        <li><a href="">Тренажеры для мыщц спины, груди, ног</a></li>
                        <li class="active"><a href="">Тренажеры со свободными весами</a></li>
                        <li><a href="">Грифы, замки для штанги</a></li>
                        <li><a href="">Гиперэкстензии и римские стулья</a></li>
                        <li><a href="">Тренажеры для пресса</a></li>
                    </ul>
                </li>
                <li><a href="/silovoj-sport/">Спортивное питание</a></li>
                <li><a href="#">Велосипеды </a></li>
                <li><a href="#">Для активного отдыха и туризма </a></li>
                <li><a href="#">Для детей </a></li>
                <li><a href="#">Товары для гимнастики и фитнеса </a></li>
                <li><a href="#">Товары для Йоги </a></li>
                <li><a href="#">Турники </a></li>
                <li><a href="#">Батуты </a></li>
                <li><a href="#">Настольный теннис </a></li>
                <li><a href="#">Мячи </a></li>
                <li><a href="#">Товары для футбола </a></li>
                <li><a href="#">Товары для баскетбола </a></li>
                <li><a href="#">Товары для волейбола </a></li>
                <li><a href="#">Бокс и Единоборства</a></li>
                <li><a href="#">Бассейны для дачи</a></li>
                <li><a href="#">Надувная мебель</a></li>
                <li><a href="#">Аксессуары</a></li>
                <li><a href="#">Летние виды спорта</a></li>
                <li><a href="#">Новогодние ёлки</a></li>
            </ul>

            <div class="gap-20"></div>

            <h2>Мы в соц.сетях</h2>
            <div class="row">
                <div class="col-lg-12 banner">
                    <img src="{{ STATIC_URL }}/img/vidjet_vk.jpg" alt=""/>
                </div>
            </div>

            <div class="gap-20"></div>
            <div class="row">
                <div class="col-lg-12 banner">
                    <img src="{{ STATIC_URL }}/img/widget-fb.png" alt=""/>
                </div>
            </div>

            <div class="gap-10"></div>
        </div>

        <div class="col-lg-9">

            <div class="row">
                <div class="col-lg-12">
                    <div class="gap-20"></div>
                    <div class="row">
                        <div class="col-lg-6">

                            <img src="{{ STATIC_URL }}/img/product1.jpg" alt=""/>

                            <ul class="list-unstyled item-gallery">
                                <li><a href=""><img src="{{ STATIC_URL }}/img/product1.jpg" alt=""/></a></li>
                                <li><a href=""><img src="{{ STATIC_URL }}/img/product2.jpg" alt=""/></a></li>
                                <li><a href=""><img src="{{ STATIC_URL }}/img/product3.jpg" alt=""/></a></li>
                                <li><a href=""><img src="{{ STATIC_URL }}/img/product1.jpg" alt=""/></a></li>
                            </ul>
                        </div>
                        <div class="col-lg-6">


                            <div class="item-price">
                                <span>Цена: </span>
                                 2 600 р.
                                <del>3 400 р.</del>
                            </div>

                            <div class="in-stock"><span class="glyphicon glyphicon-time"></span> Под заказ</div>

                            <div class="in-stock"><span class="glyphicon glyphicon-tag"></span> Спецпредложение</div>

                            <div class="item-brand">
                                <span>Производитель: </span>
                                <a href=""><img src="{{ STATIC_URL }}img/brand1.png" alt=""/></a>
                            </div>

                            <hr>

                            <a href="" class="btn add-to-cart"><span class="glyphicon glyphicon-shopping-cart"></span> Купить</a>

                            <a href="" class=" go-to-comparison pull-right">
                                Перейти к сравнению <span class="glyphicon glyphicon-arrow-right"></span>
                            </a>



                        </div>
                    </div>
                    <div class="gap-20"></div>
                    <h2>Велосипед трехколесный Smart-Trike Cookie</h2>

                    <div class="typography-content">

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Размер рамы</th>
                                    <th>Тип</th>
                                    <th>Количество скоростей</th>
                                    <th>Мощность</th>
                                </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td>XS (small)</td>
                                <td>Прогулочный</td>
                                <td>17 скоростей</td>
                                <td>2 л.с.</td>
                            </tr>
                            </tbody>
                        </table>


                        <p> Одна из популярных моделей Smart-Trike Cookie 3-в-1 развивается и растет вместе с Вашим малышом.
                            Из велосипеда-коляски для 10-ти месячных малышей, управляемого родителями, эта модель может превратиться в
                            полноценный самостоятельный велосипед, когда малышу исполнится больше двух лет.
                            А пока велосипедист еще мал, родители управляют направлением движения при помощи съемной ручки.
                            Безопасность гарантируется прочным металлическим каркасом, трехточечным ремнем безопасности, противоскользящими
                            отключаемыми педалями и защитным ободом. Безопасность конструкции полностью соответствует строгим международным стандартам.
                            Купить велосипед Smart-Trike Cookie 3-в-1 в Екатеринбурге Вы можете в нашем интернет-магазине,
                            так Вы подарите Вашему малышу отличное настроение во время прогулок на целых три года!</p>


                        <ul>
                            <li>Колесо переднее - пластик 8,4"</li>
                            <li>Колесо переднее - пластик 8,4"</li>
                            <li>Возрастная категория - 10 мес.-3 года</li>
                            <li>Замок привода педалей, позволяющий подключать и отключать связь педалей с колесом</li>
                        </ul>

                        <p>Доставка товаров по Екатеринбургу бесплатна! (кроме отдаленных районов)</p>

                    </div>
                    <div class="gap-10"></div>


                    <div class="another-article">
                        Статьи по теме:
                        <a href="">&laquo;Как выбрать домашний тренажер?&raquo;</a>, <a href="">&laquo;Функциональный тренинг&raquo;</a>
                    </div>

                    <div class="gap-20"></div>


                    <h2>Вместе с этим товаром также покупают</h2>
                    <div class="special-catalog">
                        <div class="row">
                          <div class="col-lg-3">
                              <a href="#"><img src="{{ STATIC_URL }}img/item1.jpg" alt=""/></a>
                              <div class="price"> 30 990 р.</div>
                              <h3><a href="">Эллиптический тренажер Clear Fit Ride VR 30 Revolution</a></h3>
                          </div>
                          <div class="col-lg-3">
                              <a href="#"><img src="{{ STATIC_URL }}img/item2.jpg" alt=""/></a>
                              <div class="price"> 30 990 р.</div>
                              <h3><a href="">Беговая дорожка CARBON T404</a></h3>
                          </div>
                          <div class="col-lg-3">
                              <a href="#"><img src="{{ STATIC_URL }}img/item3.jpg" alt=""/></a>
                              <div class="price"> 30 990 р.</div>
                              <h3><a href="">Велотренажер OXYGEN PEAK U</a></h3>
                          </div>
                          <div class="col-lg-3">
                              <a href="#"><img src="{{ STATIC_URL }}img/item4.jpg" alt=""/></a>
                              <div class="price"> 30 990 р.</div>
                              <h3><a href="">Виброплатформа Clear Fit CF-PLATE Compact 101</a></h3>
                          </div>
                        </div>
                    </div>
                    <div class="gap-20"></div>
                    <h2>Отзывы</h2>
                    <div class="response">
                        <em><span class="glyphicon glyphicon-hand-right"></span> Алексеева Светлана (2 марта 2010)</em>

                        <p>Хочу выразить Вам благодарность спустя почти месяц. Заказывала эллиптический тренажер
                            в Вашем интернет-магазине. Спасибо консультантам за то, что смогли грамотно и
                            компетентно посоветовать подходящую модель. Купили Хастингс и очень довольны
                            своей покупкой. Курьеры привезли, подняли, быстро собрали и отрегулировали наш
                            тренажер. Через неделю после продажи позвонили и поинтересовались мнением.
                            В общем, все профессионально и на высоком уровне! Большое спасибо! Будем друзьям Вас рекомендовать.
                            Прошу руководство отметить инициативность сотрудников и обязательно поощрить :)</p>

                        <blockquote>
                            Спасибо Вам, Юлия. Хороший отзыв - лучшее поощрение!  :-)
                        </blockquote>
                    </div>
                    <div class="gap-10"></div>

                    <div class="response">
                        <em><span class="glyphicon glyphicon-hand-right"></span> Алексеева Светлана (2 марта 2010)</em>

                        <p>Хочу выразить Вам благодарность спустя почти месяц. Заказывала эллиптический тренажер
                            в Вашем интернет-магазине. Спасибо консультантам за то, что смогли грамотно и
                            компетентно посоветовать подходящую модель. Купили Хастингс и очень довольны
                            своей покупкой. Курьеры привезли, подняли, быстро собрали и отрегулировали наш
                            тренажер. Через неделю после продажи позвонили и поинтересовались мнением.
                            В общем, все профессионально и на высоком уровне! Большое спасибо! Будем друзьям Вас рекомендовать.
                            Прошу руководство отметить инициативность сотрудников и обязательно поощрить :)</p>

                        <blockquote>
                            Спасибо Вам, Юлия. Хороший отзыв - лучшее поощрение!  :-)
                        </blockquote>
                    </div>
                    <div class="gap-10"></div>

                </div>
            </div>

            <div class="gap-10"></div>

           
        </div>

    </div>

{% endblock %}

{% block promo-status %}closed{% endblock %}

{#{% block promo %}{% endblock %}#}