{% extends 'base.html' %}
{% load xendor_tags %}

{% block content %}






            <div class="article">
                <h2>Оплата пластиковыми картами</h2>
                <em><span class="glyphicon glyphicon-time"></span> 21 марта 2014</em>
                <br class="clear"/>
                <p>
                Хорошая новость для любителей безнала

                Оплата пластиковой картой при получении.
                Теперь появилась возможность оплачивать товар при получении пластиковыми картами любых банков.</p>


            </div>
            <div class="gap-10"></div>

            <div class="article">
                <h2>Протестировать тренажер перед покупкой.</h2>
                <em><span class="glyphicon glyphicon-time"></span> 21 марта 2014</em>
                <br class="clear"/>

                <p>
                    Напоминаем, что компания T-Sport является официальным представителем торговой марки Hasttings и
                    Spirit Fitness в Екатеринбурге, что позволяет оперативно решать сервисные вопросы по
                    гарантийному и постгарантийному обслуживанию оборудованию этих марок.
                    Кроме того, у нас налажена самая быстрая доставка тернажеров (от трех дней).</p>


            </div>
            <div class="gap-10"></div>

            <div class="article">
                <h2>Домашний спортивный комплекс из прошлого</h2>
                <em><span class="glyphicon glyphicon-time"></span> 21 марта 2014</em>
                <br class="clear"/>

                <p>Вот такой ДСК запечатлел один из наших курьеров в подъезде по одному из адресов доставки.

                    Домашний спортивный комплекс из прошлого.
                    Сфотографировал курьер по одному из адресов доставки. </p>

            </div>
            <div class="gap-10"></div>
            <div class="article">
                <h2>Оплата пластиковыми картами</h2>
                <em><span class="glyphicon glyphicon-time"></span> 21 марта 2014</em>
                <br class="clear"/>
                <p>
                Хорошая новость для любителей безнала

                Оплата пластиковой картой при получении.
                Теперь появилась возможность оплачивать товар при получении пластиковыми картами любых банков.</p>


            </div>
            <div class="gap-10"></div>

            <div class="article">
                <h2>Протестировать тренажер перед покупкой.</h2>
                <em><span class="glyphicon glyphicon-time"></span> 21 марта 2014</em>
                <br class="clear"/>

                <p>
                    Напоминаем, что компания T-Sport является официальным представителем торговой марки Hasttings и
                    Spirit Fitness в Екатеринбурге, что позволяет оперативно решать сервисные вопросы по
                    гарантийному и постгарантийному обслуживанию оборудованию этих марок.
                    Кроме того, у нас налажена самая быстрая доставка тернажеров (от трех дней).</p>


            </div>
            <div class="gap-10"></div>

            <div class="article">
                <h2>Домашний спортивный комплекс из прошлого</h2>
                <em><span class="glyphicon glyphicon-time"></span> 21 марта 2014</em>
                <br class="clear"/>

                <p>Вот такой ДСК запечатлел один из наших курьеров в подъезде по одному из адресов доставки.

                    Домашний спортивный комплекс из прошлого.
                    Сфотографировал курьер по одному из адресов доставки. </p>

            </div>
            <div class="gap-10"></div>
            <div class="article">
                <h2>Оплата пластиковыми картами</h2>
                <em><span class="glyphicon glyphicon-time"></span> 21 марта 2014</em>
                <br class="clear"/>
                <p>
                Хорошая новость для любителей безнала

                Оплата пластиковой картой при получении.
                Теперь появилась возможность оплачивать товар при получении пластиковыми картами любых банков.</p>


            </div>
            <div class="gap-10"></div>

            <div class="article">
                <h2>Протестировать тренажер перед покупкой.</h2>
                <em><span class="glyphicon glyphicon-time"></span> 21 марта 2014</em>
                <br class="clear"/>

                <p>
                    Напоминаем, что компания T-Sport является официальным представителем торговой марки Hasttings и
                    Spirit Fitness в Екатеринбурге, что позволяет оперативно решать сервисные вопросы по
                    гарантийному и постгарантийному обслуживанию оборудованию этих марок.
                    Кроме того, у нас налажена самая быстрая доставка тернажеров (от трех дней).</p>


            </div>
            <div class="gap-10"></div>

            <div class="article">
                <h2>Домашний спортивный комплекс из прошлого</h2>
                <em><span class="glyphicon glyphicon-time"></span> 21 марта 2014</em>
                <br class="clear"/>

                <p>Вот такой ДСК запечатлел один из наших курьеров в подъезде по одному из адресов доставки.

                    Домашний спортивный комплекс из прошлого.
                    Сфотографировал курьер по одному из адресов доставки. </p>

            </div>
            <div class="gap-10"></div>

            <div class="gap-20"></div>


            <ul class="pagination">
              <li><a href="#">&laquo;</a></li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">&raquo;</a></li>
            </ul>




{% endblock %}

{% block promo-status %}closed{% endblock %}

{#{% block promo %}{% endblock %}#}