{% extends 'base.html' %}
{% load xendor_tags %}

{% block content %}


        <h2>Отзывы </h2>

        <a href="/footer-menu-otzyvy-dobvit-otzyv/" class="btn add-to-cart pull-right">оставить отзыв</a>

        <br class="clear"/>

        <div class="response">
            <em><span class="glyphicon glyphicon-hand-right"></span> Алексеева Светлана (2 марта 2010)</em>

            <p>Хочу выразить Вам благодарность спустя почти месяц. Заказывала эллиптический тренажер
                в Вашем интернет-магазине. Спасибо консультантам за то, что смогли грамотно и
                компетентно посоветовать подходящую модель. Купили Хастингс и очень довольны
                своей покупкой. Курьеры привезли, подняли, быстро собрали и отрегулировали наш
                тренажер. Через неделю после продажи позвонили и поинтересовались мнением.
                В общем, все профессионально и на высоком уровне! Большое спасибо! Будем друзьям Вас рекомендовать.
                Прошу руководство отметить инициативность сотрудников и обязательно поощрить :)</p>

            <h3 class="text-right">Купленный товар: <a href="">ВЕЛОСИПЕД STELS NAVIGATOR 770 DISC</a></h3>
            <blockquote>
                Спасибо Вам, Юлия. Хороший отзыв - лучшее поощрение!  :-)
            </blockquote>
        </div>
        <div class="gap-20"></div>

        <div class="response">
            <em><span class="glyphicon glyphicon-hand-right"></span> Виктор Алексеевич (12 февраля 2012)</em>

            <p>Добрый день. Пишу отзыв где-либо впервые, но уж очень хочется отметить работу магазина Т-спорт.
                Заказывал бассейн "INTEX Бассейн каркасный Metal Frame Размеры 305*76см + насос-фильтр (56999)"
                Два (!) раза из других магазинов привозили не тот товар. То бассейн надувной, а не каркасный,
                то привезли без насоса, хотя в комплекте должен быть. В итоге нашел Ваш магазин.
                Менеджер Артем все очень четко и подробно рассказал. Разъяснил все особенности эксплуатации
                разных типов бассейнов. Сразу видна компетенция сотрудника. Договорились о доставке.
                Перед выездом со склада курьер позвонил, еще раз напомнил про доставку, уточнил все подробности.
                Привезли даже раньше срока, помогли загрузить к нам в автомобиль. После этого произошла неприятная
                ситуация по нашей вине. Наши дети проткнули бассейн садовыми ножницами. Я не знал что делать, вода хлещет...
                первым делом позвонил в магазин Тспорт, т.к. не знал, куда еще обращаться. Ребята не только четко объяснили,
                что мне делать, но и помогли доставить наш бассейн в мастерскую по ремонту, т.к. у нас в тот момент автомобиля уже не было,
                обратно мы привезли его сами. Вот такие чудеса! Если бы все относились к своему делу так,
                может и экономика нашей страны пошла бы вверх быстрее! Большое спасибо! С уважением, Виктор Алексеевич Терехов</p>

            <h3 class="text-right">Купленный товар: <a href="">Bestway Бассейн каркасный Octagon Frame 244*61 см (56045)</a></h3>

            <blockquote>
                Спасибо за отзыв, Виктор Алексеевич, всегда рады помочь!
            </blockquote>
        </div>
        <div class="gap-20"></div>
        <div class="response">
            <em><span class="glyphicon glyphicon-hand-right"></span> Алексеева Светлана (2 марта 2010)</em>

            <p>Хочу выразить Вам благодарность спустя почти месяц. Заказывала эллиптический тренажер
                в Вашем интернет-магазине. Спасибо консультантам за то, что смогли грамотно и
                компетентно посоветовать подходящую модель. Купили Хастингс и очень довольны
                своей покупкой. Курьеры привезли, подняли, быстро собрали и отрегулировали наш
                тренажер. Через неделю после продажи позвонили и поинтересовались мнением.
                В общем, все профессионально и на высоком уровне! Большое спасибо! Будем друзьям Вас рекомендовать.
                Прошу руководство отметить инициативность сотрудников и обязательно поощрить :)</p>

            <h3 class="text-right">Купленный товар: <a href="">ВЕЛОСИПЕД STELS NAVIGATOR 770 DISC</a></h3>
            <blockquote>
                Спасибо Вам, Юлия. Хороший отзыв - лучшее поощрение!  :-)
            </blockquote>
        </div>
        <div class="gap-20"></div>

        <div class="response">
            <em><span class="glyphicon glyphicon-hand-right"></span> Виктор Алексеевич (12 февраля 2012)</em>

            <p>Добрый день. Пишу отзыв где-либо впервые, но уж очень хочется отметить работу магазина Т-спорт.
                Заказывал бассейн "INTEX Бассейн каркасный Metal Frame Размеры 305*76см + насос-фильтр (56999)"
                Два (!) раза из других магазинов привозили не тот товар. То бассейн надувной, а не каркасный,
                то привезли без насоса, хотя в комплекте должен быть. В итоге нашел Ваш магазин.
                Менеджер Артем все очень четко и подробно рассказал. Разъяснил все особенности эксплуатации
                разных типов бассейнов. Сразу видна компетенция сотрудника. Договорились о доставке.
                Перед выездом со склада курьер позвонил, еще раз напомнил про доставку, уточнил все подробности.
                Привезли даже раньше срока, помогли загрузить к нам в автомобиль. После этого произошла неприятная
                ситуация по нашей вине. Наши дети проткнули бассейн садовыми ножницами. Я не знал что делать, вода хлещет...
                первым делом позвонил в магазин Тспорт, т.к. не знал, куда еще обращаться. Ребята не только четко объяснили,
                что мне делать, но и помогли доставить наш бассейн в мастерскую по ремонту, т.к. у нас в тот момент автомобиля уже не было,
                обратно мы привезли его сами. Вот такие чудеса! Если бы все относились к своему делу так,
                может и экономика нашей страны пошла бы вверх быстрее! Большое спасибо! С уважением, Виктор Алексеевич Терехов</p>

            <h3 class="text-right">Купленный товар: <a href="">Bestway Бассейн каркасный Octagon Frame 244*61 см (56045)</a></h3>

            <blockquote>
                Спасибо за отзыв, Виктор Алексеевич, всегда рады помочь!
            </blockquote>
        </div>
        <div class="gap-20"></div>
        <div class="response">
            <em><span class="glyphicon glyphicon-hand-right"></span> Алексеева Светлана (2 марта 2010)</em>

            <p>Хочу выразить Вам благодарность спустя почти месяц. Заказывала эллиптический тренажер
                в Вашем интернет-магазине. Спасибо консультантам за то, что смогли грамотно и
                компетентно посоветовать подходящую модель. Купили Хастингс и очень довольны
                своей покупкой. Курьеры привезли, подняли, быстро собрали и отрегулировали наш
                тренажер. Через неделю после продажи позвонили и поинтересовались мнением.
                В общем, все профессионально и на высоком уровне! Большое спасибо! Будем друзьям Вас рекомендовать.
                Прошу руководство отметить инициативность сотрудников и обязательно поощрить :)</p>

            <h3 class="text-right">Купленный товар: <a href="">ВЕЛОСИПЕД STELS NAVIGATOR 770 DISC</a></h3>
            <blockquote>
                Спасибо Вам, Юлия. Хороший отзыв - лучшее поощрение!  :-)
            </blockquote>
        </div>
        <div class="gap-20"></div>

        <div class="response">
            <em><span class="glyphicon glyphicon-hand-right"></span> Виктор Алексеевич (12 февраля 2012)</em>

            <p>Добрый день. Пишу отзыв где-либо впервые, но уж очень хочется отметить работу магазина Т-спорт.
                Заказывал бассейн "INTEX Бассейн каркасный Metal Frame Размеры 305*76см + насос-фильтр (56999)"
                Два (!) раза из других магазинов привозили не тот товар. То бассейн надувной, а не каркасный,
                то привезли без насоса, хотя в комплекте должен быть. В итоге нашел Ваш магазин.
                Менеджер Артем все очень четко и подробно рассказал. Разъяснил все особенности эксплуатации
                разных типов бассейнов. Сразу видна компетенция сотрудника. Договорились о доставке.
                Перед выездом со склада курьер позвонил, еще раз напомнил про доставку, уточнил все подробности.
                Привезли даже раньше срока, помогли загрузить к нам в автомобиль. После этого произошла неприятная
                ситуация по нашей вине. Наши дети проткнули бассейн садовыми ножницами. Я не знал что делать, вода хлещет...
                первым делом позвонил в магазин Тспорт, т.к. не знал, куда еще обращаться. Ребята не только четко объяснили,
                что мне делать, но и помогли доставить наш бассейн в мастерскую по ремонту, т.к. у нас в тот момент автомобиля уже не было,
                обратно мы привезли его сами. Вот такие чудеса! Если бы все относились к своему делу так,
                может и экономика нашей страны пошла бы вверх быстрее! Большое спасибо! С уважением, Виктор Алексеевич Терехов</p>

            <h3 class="text-right">Купленный товар: <a href="">Bestway Бассейн каркасный Octagon Frame 244*61 см (56045)</a></h3>

            <blockquote>
                Спасибо за отзыв, Виктор Алексеевич, всегда рады помочь!
            </blockquote>
        </div>
        <div class="gap-20"></div>




            <ul class="pagination">
              <li><a href="#">&laquo;</a></li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">&raquo;</a></li>
            </ul>

           


{% endblock %}

{% block promo-status %}closed{% endblock %}

{#{% block promo %}{% endblock %}#}