{% extends 'base.html' %}
{% load xendor_tags %}

{% block content %}


    <div class="row">
        <div class="col-lg-3">
            <h2>Каталог товаров</h2>

            <div class="row">
                <div class="col-lg-12">
                    <form action="" class="search-form">
                        <input type="text" placeholder="Поиск по товарам" value="Поисковый запрос" class="active"/>
                        <button type="submit"><span class="glyphicon glyphicon-search"></span></button>
                    </form>
                </div>
            </div>

            <div class="gap-20"></div>

            <ul class=" catalog-nav">
                <li><a href="/silovoj-sport/">Зимние виды спорта</a></li>
                <li><a href="/silovoj-sport/">Спортивные тренажеры</a></li>
                <li>
                    <a href="/silovoj-sport/">Силовой спорт</a>
                </li>
                <li><a href="/silovoj-sport/">Спортивное питание</a></li>
                <li><a href="#">Велосипеды </a></li>
                <li><a href="#">Для активного отдыха и туризма </a></li>
                <li><a href="#">Для детей </a></li>
                <li><a href="#">Товары для гимнастики и фитнеса </a></li>
                <li><a href="#">Товары для Йоги </a></li>
                <li><a href="#">Турники </a></li>
                <li><a href="#">Батуты </a></li>
                <li><a href="#">Настольный теннис </a></li>
                <li><a href="#">Мячи </a></li>
                <li><a href="#">Товары для футбола </a></li>
                <li><a href="#">Товары для баскетбола </a></li>
                <li><a href="#">Товары для волейбола </a></li>
                <li><a href="#">Бокс и Единоборства</a></li>
                <li><a href="#">Бассейны для дачи</a></li>
                <li><a href="#">Надувная мебель</a></li>
                <li><a href="#">Аксессуары</a></li>
                <li><a href="#">Летние виды спорта</a></li>
                <li><a href="#">Новогодние ёлки</a></li>
            </ul>

            <div class="gap-20"></div>

            <h2>Мы в соц.сетях</h2>
            <div class="row">
                <div class="col-lg-12 banner">
                    <img src="{{ STATIC_URL }}/img/vidjet_vk.jpg" alt=""/>
                </div>
            </div>

            <div class="gap-20"></div>
            <div class="row">
                <div class="col-lg-12 banner">
                    <img src="{{ STATIC_URL }}/img/widget-fb.png" alt=""/>
                </div>
            </div>

            <div class="gap-10"></div>
        </div>

        <div class="col-lg-9">
            <h2>&laquo;Поисковый запрос&raquo; <span class="pull-right">всего совпадений: 34</span></h2>

            <div class="new-item">
                        <div class="row">
                            <div class="col-lg-10">
                                <h3><a href="#">Велосипед Stels Navigator 770 Disc</a></h3>
                            </div>
                        </div>
                        <div class="gap-10"></div>

                        <div class="row">

                            <div class="col-lg-4">
                                <a href="#"><img src="{{ STATIC_URL }}img/velo1.jpg" alt=""/></a>
                            </div>
                            <div class="col-lg-8">

                                <div class="in-stock">
                                    <span class="glyphicon glyphicon-ok"></span> На складе
                                </div>


                                <p>Отличный велосипед с гидравлическими дисковыми тормозами. Отличительной особенностью
                                    гидравлической тормозной системы является мгновенный отклик на нажатие тормозного рычага
                                    и исключительная эффективность тормозной системы в целом.</p>

                                <hr>

                                <a href="" class="btn add-to-cart"><span class="glyphicon glyphicon-shopping-cart"></span> Купить</a>

                                <a href="" class=" add-to-comparison pull-right">
                                    <span class="glyphicon glyphicon-stats"></span>
                                    Сравнить</a>
                            </div>
                        </div>
                        <div class="price">30 990 р.</div>
                    </div>
                    <div class="gap-20"></div>

                    <div class="new-item">
                        <div class="row">
                            <div class="col-lg-9">
                                <h3><a href="#">Велосипед Cube 14 AERIUM HPA PRO Велосипед Cube 14 AERIUM HPA PRO</a></h3>
                            </div>
                        </div>
                        <div class="gap-10"></div>

                        <div class="row">

                            <div class="col-lg-4">
                                <a href="#"><img src="{{ STATIC_URL }}img/velo2.jpg" alt=""/></a>
                            </div>
                            <div class="col-lg-8">

                                <div class="row">
                                    <div class="col-lg-3">
                                        <div class="in-stock"><span class="glyphicon glyphicon-time"></span> Под заказ</div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="in-stock"><span class="glyphicon glyphicon-tag"></span> Спецпредложение</div>
                                    </div>
                                </div>


                                <p>Надежность, престиж и высокое качество - отличительные черты велосипедов Cube.
 Cube принципиально не производит дешевые велосипеды, зато купив даже самую начальную модель, Вы будет владеть абсолютно надежным и проработанным на 100% байком!
Хотите чувствовать себя уверенно в потоке велобратьев? CUBE - Ваш выбор!</p>

                                <hr>

                                <a href="" class="btn add-to-cart"><span class="glyphicon glyphicon-shopping-cart"></span> Купить</a>

                                <a href="" class=" go-to-comparison pull-right">
                                    Перейти к сравнению <span class="glyphicon glyphicon-arrow-right"></span>
                                </a>
                            </div>
                        </div>
                        <div class="price">85 900 р. <div class="old-price">89 900 р.</div></div>
                    </div>
                    <div class="gap-20"></div>

                    <div class="new-item">
                        <div class="row">
                            <div class="col-lg-10">
                                <h3><a href="#">Велосипед Mtr Bella 26 GW-B223B</a></h3>
                            </div>
                        </div>
                        <div class="gap-10"></div>
                        <div class="row">

                            <div class="col-lg-4">
                                <a href="#"><img src="{{ STATIC_URL }}img/velo3.jpg" alt=""/></a>
                            </div>
                            <div class="col-lg-8">

                                <div class="in-stock"><span class="glyphicon glyphicon-ok"></span> На складе</div>

                                <p>Женственный велосипед для отдыха и спорта. На нем Вы можете спокойно отправиться в дальнее путешествие,
                                    либо на короткую прогулку по городу. Красивый, надежный, удобный велосипед, что еще нужно?</p>
                                <hr>

                                <a href="" class="btn add-to-cart"><span class="glyphicon glyphicon-shopping-cart"></span> Купить</a>

                                <a href="" class=" add-to-comparison pull-right">
                                    <span class="glyphicon glyphicon-stats"></span>
                                     Сравнить
                                </a>


                            </div>
                        </div>
                        <div class="price">7 900 р.</div>
                    </div>
                    <div class="gap-20"></div>


                    <div class="new-item">
                        <div class="row">
                            <div class="col-lg-10">
                                <h3><a href="#">Велосипед Stels Navigator 770 Disc</a></h3>
                            </div>
                        </div>
                        <div class="gap-10"></div>

                        <div class="row">

                            <div class="col-lg-4">
                                <a href="#"><img src="{{ STATIC_URL }}img/velo1.jpg" alt=""/></a>
                            </div>
                            <div class="col-lg-8">

                                <div class="in-stock">
                                    <span class="glyphicon glyphicon-ok"></span> На складе
                                </div>


                                <p>Отличный велосипед с гидравлическими дисковыми тормозами. Отличительной особенностью
                                    гидравлической тормозной системы является мгновенный отклик на нажатие тормозного рычага
                                    и исключительная эффективность тормозной системы в целом.</p>

                                <hr>

                                <a href="" class="btn add-to-cart"><span class="glyphicon glyphicon-shopping-cart"></span> Купить</a>

                                <a href="" class=" add-to-comparison pull-right">
                                    <span class="glyphicon glyphicon-stats"></span>
                                    Сравнить</a>
                            </div>
                        </div>
                        <div class="price">30 990 р.</div>
                    </div>
                    <div class="gap-20"></div>

                    <div class="new-item">
                        <div class="row">
                            <div class="col-lg-10">
                                <h3><a href="#">Велосипед Cube 14 AERIUM HPA PRO Велосипед Cube 14 AERIUM HPA PRO</a></h3>
                            </div>
                        </div>
                        <div class="gap-10"></div>

                        <div class="row">

                            <div class="col-lg-4">
                                <a href="#"><img src="{{ STATIC_URL }}img/velo2.jpg" alt=""/></a>
                            </div>
                            <div class="col-lg-8">


                                <div class="in-stock"><span class="glyphicon glyphicon-time"></span> Под заказ</div>

                                <p>Надежность, престиж и высокое качество - отличительные черты велосипедов Cube.
 Cube принципиально не производит дешевые велосипеды, зато купив даже самую начальную модель, Вы будет владеть абсолютно надежным и проработанным на 100% байком!
Хотите чувствовать себя уверенно в потоке велобратьев? CUBE - Ваш выбор!</p>

                                <hr>

                                <a href="" class="btn add-to-cart"><span class="glyphicon glyphicon-shopping-cart"></span> Купить</a>

                                <a href="" class=" go-to-comparison pull-right">
                                    Перейти к сравнению <span class="glyphicon glyphicon-arrow-right"></span>
                                </a>
                            </div>
                        </div>
                        <div class="price">85 900 р.</div>
                    </div>
                    <div class="gap-20"></div>

                    <div class="new-item">
                        <div class="row">
                            <div class="col-lg-10">
                                <h3><a href="#">Велосипед Mtr Bella 26 GW-B223B</a></h3>
                            </div>
                        </div>
                        <div class="gap-10"></div>
                        <div class="row">

                            <div class="col-lg-4">
                                <a href="#"><img src="{{ STATIC_URL }}img/velo3.jpg" alt=""/></a>
                            </div>
                            <div class="col-lg-8">

                                <div class="in-stock"><span class="glyphicon glyphicon-ok"></span> На складе</div>

                                <p>Женственный велосипед для отдыха и спорта. На нем Вы можете спокойно отправиться в дальнее путешествие,
                                    либо на короткую прогулку по городу. Красивый, надежный, удобный велосипед, что еще нужно?</p>

                                <hr>

                                <a href="" class="btn add-to-cart"><span class="glyphicon glyphicon-shopping-cart"></span> Купить</a>

                                <a href="" class=" add-to-comparison pull-right">
                                    <span class="glyphicon glyphicon-stats"></span>
                                     Сравнить
                                </a>


                            </div>
                        </div>
                        <div class="price">7 900 р.</div>
                    </div>
                    <div class="gap-20"></div>


                    <div class="new-item">
                        <div class="row">
                            <div class="col-lg-10">
                                <h3><a href="#">Велосипед Stels Navigator 770 Disc</a></h3>
                            </div>
                        </div>
                        <div class="gap-10"></div>

                        <div class="row">

                            <div class="col-lg-4">
                                <a href="#"><img src="{{ STATIC_URL }}img/velo1.jpg" alt=""/></a>
                            </div>
                            <div class="col-lg-8">

                                <div class="in-stock">
                                    <span class="glyphicon glyphicon-ok"></span> На складе
                                </div>


                                <p>Отличный велосипед с гидравлическими дисковыми тормозами. Отличительной особенностью
                                    гидравлической тормозной системы является мгновенный отклик на нажатие тормозного рычага
                                    и исключительная эффективность тормозной системы в целом.</p>

                                <hr>

                                <a href="" class="btn add-to-cart"><span class="glyphicon glyphicon-shopping-cart"></span> Купить</a>

                                <a href="" class=" add-to-comparison pull-right">
                                    <span class="glyphicon glyphicon-stats"></span>
                                    Сравнить</a>
                            </div>
                        </div>
                        <div class="price">30 990 р.</div>
                    </div>
                    <div class="gap-20"></div>

                    <div class="new-item">
                        <div class="row">
                            <div class="col-lg-10">
                                <h3><a href="#">Велосипед Cube 14 AERIUM HPA PRO Велосипед Cube 14 AERIUM HPA PRO</a></h3>
                            </div>
                        </div>
                        <div class="gap-10"></div>

                        <div class="row">

                            <div class="col-lg-4">
                                <a href="#"><img src="{{ STATIC_URL }}img/velo2.jpg" alt=""/></a>
                            </div>
                            <div class="col-lg-8">


                                <div class="in-stock"><span class="glyphicon glyphicon-time"></span> Под заказ</div>

                                <p>Надежность, престиж и высокое качество - отличительные черты велосипедов Cube.
 Cube принципиально не производит дешевые велосипеды, зато купив даже самую начальную модель, Вы будет владеть абсолютно надежным и проработанным на 100% байком!
Хотите чувствовать себя уверенно в потоке велобратьев? CUBE - Ваш выбор!</p>

                                <hr>

                                <a href="" class="btn add-to-cart"><span class="glyphicon glyphicon-shopping-cart"></span> Купить</a>

                                <a href="" class=" go-to-comparison pull-right">
                                    Перейти к сравнению <span class="glyphicon glyphicon-arrow-right"></span>
                                </a>
                            </div>
                        </div>
                        <div class="price">85 900 р.</div>
                    </div>
                    <div class="gap-20"></div>

                    <div class="new-item">
                        <div class="row">
                            <div class="col-lg-10">
                                <h3><a href="#">Велосипед Mtr Bella 26 GW-B223B</a></h3>
                            </div>
                        </div>
                        <div class="gap-10"></div>
                        <div class="row">

                            <div class="col-lg-4">
                                <a href="#"><img src="{{ STATIC_URL }}img/velo3.jpg" alt=""/></a>
                            </div>
                            <div class="col-lg-8">

                                <div class="in-stock"><span class="glyphicon glyphicon-ok"></span> На складе</div>

                                <p>Женственный велосипед для отдыха и спорта. На нем Вы можете спокойно отправиться в дальнее путешествие,
                                    либо на короткую прогулку по городу. Красивый, надежный, удобный велосипед, что еще нужно?</p>

                                <hr>

                                <a href="" class="btn add-to-cart"><span class="glyphicon glyphicon-shopping-cart"></span> Купить</a>

                                <a href="" class=" add-to-comparison pull-right">
                                    <span class="glyphicon glyphicon-stats"></span>
                                     Сравнить
                                </a>


                            </div>
                        </div>
                        <div class="price">7 900 р.</div>
                    </div>

                    <div class="gap-20"></div>

                    <ul class="pagination">
                      <li><a href="#">&laquo;</a></li>
                      <li><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#">4</a></li>
                      <li><a href="#">5</a></li>
                      <li><a href="#">&raquo;</a></li>
                    </ul>

        </div>

    </div>

{% endblock %}

{% block promo-status %}closed{% endblock %}

{#{% block promo %}{% endblock %}#}