{% load xendor_tags %}

<div class="row" style="position: relative">
    <div class="col-lg-12">
        <div id="slideshow-controls">
            <div data-cycle-cmd="prev" class="prev"><span class="glyphicon glyphicon-circle-arrow-left"></span></div>
            <div data-cycle-cmd="next" class="next"><span class="glyphicon glyphicon-circle-arrow-right"></span></div>
        </div>

        <div class="cycle-slideshow"
            data-cycle-fx="fade"
            data-cycle-timeout="10000"
            data-cycle-log="false"
            data-cycle-slides="> div"
            >
            {% for block in blocks %}

                <div>
                    <h1>{{ block }}</h1>
                    <a href="{{ block.link_url|default:'#' }}">
                        <ul class="paralax">
                            {% for img in block.images_set.all %}
                                <li class="layer" data-depth="{{ img.depth|default:'0.50' }}"><img src="{{ img.image|xthumbnail:'938;270;blank;fix' }}"></li>
                            {% endfor %}
                        </ul>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>