{% extends 'base.html' %}
{% load xendor_tags %}

{% block content %}

        {% for item in object_list %}
            <div class="article">
                <h2><a href="{{ item.get_absolute_url }}">{{ item }}</a></h2>

                <p>
                    <img src="{{ item.image|xthumbnail:'166;136;blank;fix' }}"/>
                    {{ item.description }}
                </p>

                <br class="clear" />
                <div class="text-right all-news">
                    <a href="{{ item.get_absolute_url }}" class="">Читать далее &rarr;</a>
                </div>
            </div>
        {% endfor %}

        <div class="gap-10"></div>

        {{ paginator.render }}


{% endblock %}
