{% extends 'base.html' %}
{% load xendor_tags  %}

{% block content %}
    <h2>{{ object }}</h2>
    <div class="article typography-content">


        <img src="{{ object.image|xthumbnail:'166;136' }}"/>
        {{ object.text|safe }}

    </div>
    <div class="gap-10"></div>

    <h2>Смотрите в нашем магазине</h2>
        <div class="special-catalog">
            <div class="row">
                {% for product in object.get_products %}
                    <div class="col-lg-3">
                        <a href="{{ product.get_absolute_url }}">
                            <img src="{{ product.image|xthumbnail:'185;260;blank;fix' }}" alt=""/>
                        </a>
                        <div class="price">
                            {% if product.old_price %}
                                <del>{{ product.old_price }}</del>
                            {% endif %}
                            {{ product.price|x1000|safe }} р.
                        </div>
                        <h3><a href="{{ product.get_absolute_url }}">{{ product }}</a></h3>
                    </div>
                {% endfor %}
            </div>
        </div>


{% endblock %}