{% load xendor_tags %}

{% if news_list %}
    <h2>Новости</h2>

    {% for news in news_list %}
        <em>{{ news.created }}</em>
        <h3>{{ news|safe }}</h3>
        {% if not forloop.last %}
            <div class="gap-10"></div>
        {% endif %}
    {% endfor %}

    <div class="text-right all-news">
        <a href="{% url 'news-index' %}" class="">Все новости &rarr;</a>
    </div>
{% endif %}