{% load xendor_tags %}

<script type="text/javascript">
    ymaps.ready(init);
    var myMap;

    function init(){

        ymaps.geocode('{% get_setting 'Адрес для яндекс-карт' %}', { results: 1 }).then(function (res) {

            var firstGeoObject = res.geoObjects.get(0);

            // Создаём карту.
            // Устанавливаем центр и коэффициент масштабирования.
            window.myMap = new ymaps.Map("YMapsID", {
                center: firstGeoObject.geometry.getCoordinates(),
                zoom: 16
            });

            myMap.geoObjects.add(res.geoObjects.get(0))

            myMap.controls.add("mapTools").add("zoomControl").add("typeSelector");

        })
    }
</script>
<div id="YMapsID" style="height:400px;"></div>