<!DOCTYPE html>
<html lang="ru">
	{% load xendor_tags promo_tags callback_tags ads_tags basket_tags %}
	<head>
        {% include 'include/head.html' %}
        {% block extra-head %}{% endblock %}
	</head>
	<body>
        <div class="to-top"><span class="glyphicon glyphicon-arrow-up"></span></div>
        {% callback_window %}
        {% include 'include/header.html' %}

        {% block promo %}
            <div class="promo-container hidden-xs hidden-sm">
                <div class="promo {% block promo-status %}closed{% endblock %}">
                    <div class="container">
                        {% promo_block %}
                    </div>

                </div>
                <div class="promo-control">
                    <div class="promo-control-widget">
                        <span class="glyphicon glyphicon-arrow-up"></span>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% breadcrumbs %}

        <div class="container content padding">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                    <h2>Каталог товаров</h2>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <form action="{% url 'catalog-search' %}" class="search-form">
                                <input type="text" name="s" placeholder="Поиск по товарам" value="{% if request.GET.s %}{{ request.GET.s }}{% endif %}"/>
                                <button type="submit"><span class="glyphicon glyphicon-search"></span></button>
                            </form>
                        </div>
                    </div>

                    <div class="gap-20"></div>

                    {% menu 'parent=catalog-index;deep=2' 'menu/catalog.html' %}

                    <div class="hidden-xs hidden-sm hidden-md">
                        <h2>Мы в соц.сетях</h2>
                        <div class="row">
                            <div class="col-lg-12 banner">
                                {% fragment 'Виджет vk' %}
                            </div>
                        </div>

                        <div class="gap-20"></div>
                        <div class="row">
                            <div class="col-lg-12 banner">
                                {% fragment 'Виджет fb' %}
                            </div>
                        </div>

                        {% ads_banner 1 %}

                        <div class="gap-10"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>

		{% include 'include/js.html' %}
		{% block js %}{% endblock %}


        <footer>
        {% block basket-informer %}
            {% basket_informer %}
        {% endblock %}
        {% include 'include/footer.html' %}

        {% fragment 'Счетчики' %}
	</body>
</html>

        