{% extends 'base.html' %}
{% load xendor_tags %}

{% block content %}


    <div class="article typography-content">
        <div class="gap-20"></div>
        {{ page.content|safe }}

    </div>

{% endblock %}

{% block promo-status %}closed{% endblock %}

{#{% block promo %}{% endblock %}#}